<% nav_add 'Aula', '#' %>
<% nav_add 'Equipos', teams_path %>
<% nav_add @team.name, team_path(@team.nickname) %>
<% nav_add 'Editar', '#' %>
<%= nav_render %>

<%= form_for @team do |f| %>

  <%= render :partial => 'shared/errors', locals: { f: f } %>

  <div class="form-group">
    <%= f.label :name, 'Nombre', class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :nickname, 'Nickname', class: 'control-label' %>
    <%= f.text_field :nickname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image, 'Imagen', class: 'control-label' %>
    <%= f.text_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit @labels.button, class: "btn btn-primary" %>
  </div>

<% end %>
