<legend>Equipos en <em>loom</em> -
  <small><%= @teams.size %> equipos</small>

  <%= link_to 'Nuevo equipo', new_team_path, class: 'btn btn-primary pull-right' %>
</legend>

<% if @teams.empty? %>

  <div class="alert alert-info">
    <p>Aún no hay ningún equipo</p>
  </div>

<% else %>

  <div class="table-responsive">
    <table class="members teams table table-hover">
      <thead>
      <tr>
        <th class="no-sort">Foto</th>
        <th>Nombre</th>
        <th>XP</th>
        <th>Integrantes</th>
        <th class="no-sort">Enlaces</th>
        <th class="no-sort">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @teams.sort_by(&:points).reverse.each do |team| %>
        <tr>
          <td>
            <%= link_to team_profile_url(team.nickname) do %>
              <img class="avatar" src="<%= team.image %>">
            <% end %>
          </td>
          <td><%= team.name %></td>
          <td><%= team.points %></td>
          <td><%= team.members.size %></td>
          <td>
            <%= link_to "https://www.github.com/#{team.nickname}", target: '_blank' do %>
              https://www.github.com/<%= team.nickname %> <i class="fa fa-external-link"></i>
            <% end %>
            <br/>
            <%= link_to team.nickname, team_profile_url(team.nickname) %>
          </td>
          <td>
            <%= link_to "Editar", edit_team_path(team), class: 'btn btn-default' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.teams').DataTable({
              order: [[1, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
