<% nav_add 'Aula', '#' %>
<% nav_add 'Equipos', '#' %>
<%= nav_render %>

<%= link_to 'Nuevo equipo', new_team_path, class: 'btn btn-primary' %>
<br><br>

<% if @teams.empty? %>

  <div class="alert alert-info">
    <p>Aún no hay ningún equipo</p>
  </div>

<% else %>

  <% Team.tag_counts_on(:tags).each do |tag| %>
    <span class="clickable do-search badge bg-info" data-tag="tag:<%= tag %>"><%= tag %></span>
  <% end %>

  <div class="table-responsive">
    <table class="members teams table table-hover">
      <thead>
      <tr>
        <th class="no-sort">Foto</th>
        <th>Nombre</th>
        <th>XP</th>
        <th># Int</th>
        <th>Integrantes</th>
        <th class="no-sort">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @teams.sort_by(&:points).reverse.each do |team| %>
        <tr>
          <td>
            <%= link_to team_profile_url(team.nickname) do %>
              <div class="profile">
                <%= image_tag entity_avatar(team), { class: "avatar", alt: team.name, "data-id": team.id } %>
              </div>
            <% end %>
          </td>
          <td>
            <%= team.name %>
            <br>
            <%= show_tags team.tags %>
          </td>
          <td><%= team.points %></td>
          <td>
            <%= team.enabled_members.count %>
          </td>
          <td>
            <ul>
              <% team.enabled_members.each do |member| %>
                <li>
                  <%= member.full_name %>
                </li>
              <% end %>
            </ul>
          </td>
          <td>
            <% if team.enabled_members.size == 0 %>
              <br/>
              <%= link_to "Eliminar", team_path(team), class: 'btn btn-danger', method: :delete %>
            <% end %>
            <%= link_to "Editar", edit_team_path(team), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
    var teamsTable;
      $(function () {
          teamsTable = $('.teams').DataTable({
              order: [[1, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
          $(".do-search").on("click", function() {
              teamsTable.search($(this).data("tag")).draw();
              $(".badge.do-search").removeClass("bg-success");
              $(".badge.do-search").addClass("bg-info");
              $(this).removeClass("bg-info");
              $(this).addClass("bg-success");
          })
      });
  </script>
<% end %>
