<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="fb-profile">
  <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/abstract/2/" alt="Profile image example"/>
  <img align="left" class="fb-image-profile thumbnail" src="<%= @team.image %>" alt="Profile image example"/>
  <div class="fb-profile-text">
    <h1>
      <%= @team.name %>
      <small><%= @team.nickname %></small>
    </h1>
  </div>
</div>

<div class="clearfix"></div>

<div class="students mosaic">
  <div class="row">
    <% @team.members.each do |student| %>
      <div class="col-md-2 col-xs-6 student-box">
        <%= link_to user_details_url(student.nickname) do %>
          <img class="avatar" src="<%= student.image %>">
          <p class="data"><%= student.nickname %><br/>
            <small><%= student.name %></small>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% @team.readings.uniq.each do |reading| %>
  <div id="chart-<%= reading.slug %>"></div>
<% end %>

<script>
    <% @team.measurements.group_by { |m| m.reading }.each do | reading, measurements| %>
    c3.generate({
        bindto: '#chart-<%= reading.slug %>',
        data: {
            x: 'x',
            columns: [
                ['x', <%= measurements.collect { |m| "'#{m.created_at.strftime('%F')}'" }.join(', ').html_safe  %>],
                ['<%= reading.slug %>', <%= measurements.collect(&:value).join(', ') %>]
            ]
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m-%d'
                }
            }
        },
        type: 'spline',
        line: {
            connectNull: true
        }
    });
    <% end %>
</script>
