
.text-center
  .trapezoid-title.teal Mi Equipo

.profile-summary.light
  %div
    .pieContainer
      .pieSlice{style: "background: conic-gradient(#ccb1f0 0.00% #{@team.score * 10}%, transparent #{@team.points}% )"}

      .avatar-and-team
        = image_tag entity_avatar(@team), { alt: @team.name, class: 'avatar' }

    .xp
      #{@team.points}
      XP

  = simple_form_for @team do |f|
    = render :partial => 'shared/errors', locals: { f: f }
    = f.input :name, label: 'Nombre de equipo'
    = f.input :avatar, label: 'Imagen de perfil'
    = f.button :submit, 'Actualizar', class: "btn-secondary"


%br
%br

.team
  %legend Integrantes
  .row
    - @team.members.each do |student|
      .col-lg-6.col-md-6.col-xs-12
        .card
          .card-body
            .left
              .avatar{class: student.enabled? ? '' : 'disabled'}
                = link_to user_details_url(student.nickname) do
                  = image_tag entity_avatar(student), { alt: student.full_name}
            .right
              %h5.card-title
                = student.full_name
              %p
                = student.bios
              %p
                = student.points
                XP
              - if policy(@team).add_member?
                %p
                  = link_to "Desvincular", remove_from_team_student_path(student), method: :post

= content_for :head do
  %link{href: "https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css", rel: "stylesheet" }

= content_for :javascript do
  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js", charset: "utf-8" }
  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.5/c3.min.js" }
  :javascript
    $(window).on('resize', function() {
      equalizeHeights(".card");
    }).resize();

    var $chart = $("#chart");
    var xp = +$chart.data("xp"),
        score = +$chart.data("score");

    var chart = c3.generate({
        data: {
            columns: [
                ['data', score]
            ],
            type: 'gauge'
        },
        tooltip: {
            show: false
        },
        gauge: {
            label: {
                format: function (value, ratio) {
                    return xp + " XP";
                },
                show: false
            },
            min: 0, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change
            max: 10, // 100 is default
            units: ' XP',
            width: 39 // for adjusting arc thickness
        },
        legend: {
            show: false
        },
        color: {
            pattern: ['#FF0000', '#F6C600', '#60B044', '#0000FF'],
            threshold: {
                unit: 'value', // percentage is default
                values: [4, 7, 10, 10.1]
            }
        },
        size: {
            height: 100
        }
    });