<% nav_add 'Aula', '#' %>
<% nav_add 'Equipos', teams_path %>
<% nav_add "#{@team.name} (#{@team.nickname})", '#' %>
<%= nav_render4 %>

<div class="row">
  <div class="col-md-3">
    <div class="profile">
      <%= image_tag entity_avatar(@team), {class: "avatar", alt: @team.name} %>
    </div>

    <br><br>

    <%= simple_form_for @team do |f| %>

      <%= render :partial => 'shared/errors', locals: { f: f } %>

      <%= f.input :name, label: 'Nombre de equipo' %>

      <%= f.input :avatar, label: 'Imagen de perfil' %>

      <%= f.button :submit, 'Actualizar', class: "btn-primary" %>

    <% end %>
  </div>
  <div class="col-md-9">
    <div id="chart" data-score="<%= @team.score %>" data-xp="<%= @team.points %>"></div>
  </div>
</div>

<br>

<hr>

<div class="teachers">
  <legend>Integrantes</legend>
  <div class="row">
    <% @team.members.each do |student| %>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="left">
              <%= link_to user_details_url(student.nickname) do %>
                <%= image_tag entity_avatar(student), { class: "avatar student#{ ' disabled' unless student.enabled? }", alt: student.full_name} %>
              <% end %>
            </div>
            <div class="right">
              <h5 class="card-title">
                <%= student.full_name %>
                <small><%= student.nickname %></small>
              </h5>
              <p>
                <%= student.bios %>
              </p>
              <p>
                <%= student.points %> XP
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
      $(window).on('resize', function() {
          equalizeHeights(".card");
      }).resize();
  </script>
<% end %>

<% content_for :head do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" rel="stylesheet">
<% end %>

<% content_for :javascript do %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.5/c3.min.js"></script>

  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      });
  </script>

  <script>
      var $chart = $("#chart");
      var xp = +$chart.data("xp"),
          score = +$chart.data("score");

      var chart = c3.generate({
          data: {
              columns: [
                  ['data', score]
              ],
              type: 'gauge'
          },
          tooltip: {
              show: false
          },
          gauge: {
              label: {
                  format: function (value, ratio) {
                      return xp + " XP";
                  },
                  show: false
              },
              min: 0, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change
              max: 10, // 100 is default
              units: ' XP',
              width: 39 // for adjusting arc thickness
          },
          legend: {
              show: false
          },
          color: {
              pattern: ['#FF0000', '#F6C600', '#60B044', '#0000FF'],
              threshold: {
                  unit: 'value', // percentage is default
                  values: [4, 7, 10, 10.1]
              }
          },
          size: {
              height: 100
          }
      });
  </script>
<% end %>