<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="fb-profile">
  <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/abstract/2/" alt="Profile image example"/>
  <img align="left" class="fb-image-profile thumbnail" src="<%= @team.image %>" alt="Profile image example"/>
  <div class="fb-profile-text">
    <h1>
      <%= @team.name %>
      <small><%= @team.nickname %></small>
    </h1>
    <div class="student dashboard">
      <div class="col-md-3 box">
        <span class="number"><%= @team.points %></span>
        <label title="Experiencia">XP</label>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<legend>Integrantes</legend>
<div class="students mosaic">
  <div class="row">
    <% @team.members.each do |student| %>
      <div class="col-md-2 col-xs-6 student-box">
        <%= link_to user_details_url(student.nickname) do %>
          <img class="avatar<%= ' disabled' unless student.enabled? %>" src="<%= student.image %>">
          <p class="data">
            <%= student.nickname %><br/>
            <small><%= student.name %></small><br/>
          </p>
        <% end %>
        <p>Nivel <span class="badge"><%= student.level %></span> /
          <%= student.points %> XP</p>
      </div>
    <% end %>
  </div>
</div>
<div class="col-md-6">
  <legend>Entregas</legend>

  <% if @team.checks.size == 0 %>

    <div class="alert alert-info">
      <p>Aún no se registran entregas...</p>
    </div>

  <% else %>
    <% @team.checks.each do |check| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="label <%= check.css_label %>"><%= check.condition %></span>
          <%= check.checkpoint.name %>
          (<%= l check.checkpoint.due_date.in_time_zone('Buenos Aires') %>)
        </div>
        <div class="panel-body">
          <blockquote>
            <%= simple_format check.comments %>
          </blockquote>
          <p>
            <%= link_to check.checkpoint.link do %>
              (consigna <i class="fa fa-external-link"></i>)
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="col-md-6">
  <legend>Emblemas del grupo
    <small>(<%= @team.badges.uniq.size %> / <%= Badge.count %>)</small>
  </legend>

  <% if @team.badges.size == 0 %>

    <div class="alert alert-info">
      <p>Aún no se te otorgaron emblemas...</p>
    </div>

  <% else %>
    <% @team.badges.uniq.each do |badge| %>
      <div class="col-md-4 badge-box">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= badge.name %>
          </div>
          <div class="panel-body">
            <img class="loom-badge" src="<%= image_url("badges/#{badge.slug}.png") %>" data-toggle="tooltip"
                 data-placement="bottom" title="<%= badge.description %>"/>
          </div>
          <div class="panel-footer">
            <span class="label label-info">&times; <%= @team.badges.count(badge) %></span>
          </div>
        </div>
      </div>
    <% end %>
    <% (Badge.all - @team.badges).each do |badge| %>
      <div class="col-md-4 badge-box">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= badge.name %>
          </div>
          <div class="panel-body">
            <img class="loom-badge" src="<%= image_url("badges/incognito.png") %>" data-toggle="tooltip"
                 data-placement="bottom" title="<%= badge.description %>"/>
          </div>
          <div class="panel-footer">
            &nbsp;
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if policy(Team).manage? %>

  <legend>Métricas</legend>
  <div id="chart"></div>

  <script>
      c3.generate({
          bindto: '#chart',
          data: {
              x: 'x',
              columns: [
                  <%= @presenter.c3_dates_row.html_safe %>,
                  <%= @presenter.c3_data_rows.html_safe %>
              ]
          },
          axis: {
              x: {
                  type: 'timeseries',
                  tick: {
                      format: '%Y-%m-%d'
                  }
              }
          },
          type: 'spline',
          line: {
              connectNull: true
          }
      });
  </script>

<% end %>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
