<% nav_add 'Aula', '#' %>
<% nav_add 'Equipos', teams_path %>
<% nav_add @team.name, '#' %>
<%= nav_render %>

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="fb-profile">
  <div class="fb-image-lg"></div>
  <%= image_tag entity_avatar(@team), {class: "fb-image-profile thumbnail", alt: @team.name } %>
  <div class="fb-profile-text">
    <h1>
      <%= @team.name %>
      <small><%= @team.nickname %></small>
    </h1>
    <div class="student dashboard">

      <div class="col-md-3">
        <%= simple_form_for @team do |f| %>

          <%= render :partial => 'shared/errors', locals: { f: f } %>

          <%= f.hidden_field :name %>

          <%= f.input :avatar, label: 'Imagen de perfil' %>

          <%= f.button :submit, 'Actualizar emblema', class: "btn-primary" %>

        <% end %>
      </div>

      <div class="col-md-3">
        <div id="chart" data-score="<%= @team.score %>" data-xp="<%= @team.points %>"></div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="students mosaic">
  <div class="row">
    <div class="col-md-12">
      <legend>Integrantes</legend>
      <% @team.members.each do |student| %>
        <div class="col-md-2 col-xs-6 student-box">
          <%= link_to user_details_url(student.nickname) do %>
            <%= image_tag entity_avatar(student), {class: "avatar#{ ' disabled' unless student.enabled? }", alt: student.full_name } %>
            <p class="data">
              <%= student.nickname %><br/>
              <small><%= student.full_name %></small><br/>
            </p>
          <% end %>
          <p><%= student.points %> XP</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <legend>Emblemas del grupo
    <small>(<%= @team.badges.uniq.size %> / <%= Badge.count %>)</small>
  </legend>

  <% if @team.badges.size == 0 %>

    <div class="alert alert-info">
      <p>Aún no se te otorgaron emblemas...</p>
    </div>

  <% else %>
    <% @team.badges.uniq.each do |badge| %>
      <div class="col-md-2 badge-box">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= badge.name %>
          </div>
          <div class="panel-body">
            <%= image_tag badge.image, {class: "loom-badge", alt: badge.name,
                                        "data-toggle": "tooltip", "data-placement": "bottom",
                                        title: badge.description } %>
          </div>
          <div class="panel-footer">
            <span class="label label-info">&times; <%= @team.badges.count(badge) %></span>
          </div>
        </div>
      </div>
    <% end %>
    <% (Badge.all - @team.badges).each do |badge| %>
      <div class="col-md-2 badge-box">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= badge.name %>
          </div>
          <div class="panel-body">
            <%= image_tag "incognito.png", {class: "loom-badge", alt: badge.name,
                                            "data-toggle": "tooltip", "data-placement": "bottom",
                                            title: badge.description } %>
          </div>
          <div class="panel-footer">
            <span class="label label-info">&times; 0</span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<% content_for :javascript do %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.5/c3.min.js"></script>

  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      });
  </script>

  <script>
      var $chart = $("#chart");
      var xp = +$chart.data("xp"),
          score = +$chart.data("score");

      var chart = c3.generate({
          data: {
              columns: [
                  ['data', score]
              ],
              type: 'gauge'
          },
          tooltip: {
              show: false
          },
          gauge: {
              label: {
                  format: function (value, ratio) {
                      return xp + " XP";
                  },
                  show: false
              },
              min: 0, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change
              max: 10, // 100 is default
              units: ' XP',
              width: 39 // for adjusting arc thickness
          },
          legend: {
              show: false
          },
          color: {
              pattern: ['#FF0000', '#F6C600', '#60B044', '#0000FF'],
              threshold: {
                  unit: 'value', // percentage is default
                  values: [4, 7, 10, 10.1]
              }
          },
          size: {
              height: 100
          }
      });
  </script>
<% end %>
