<% if review.teacher_assessment.to_sym != :pending %>
  <div class="alert alert-info">
    <p>
      Esta revisión fue evaluada por <%= review.assessor.full_name %> como
      <strong><%= t "reviews.assessments.#{review.teacher_assessment}" %></strong>
    </p>
    <% if review.teacher_assessment_description.present? %>
      <blockquote>
        <p>
          <%= raw review.teacher_assessment_description %>
        </p>
      </blockquote>
    <% end %>
  </div>
<% end %>

<blockquote>

  <div class="alert alert-info">
    <p>
      Como docente podés brindar una devolución pública para
      <strong><%= review.solution.author.short_name %></strong> y <strong><%= review.reviewer.short_name %></strong>,
      sobre la revisión que hizo <strong><%= review.reviewer.short_name %></strong>
    </p>
    <p>
      Eso lo podés hacer desde este cuadro de texto, y finalmente marcando la solución como buena o mala.
    </p>
    <% if review.assessor %>
      <p>
        Al parecer, <strong><%= review.assessor.short_name %></strong>
        ya ha brindado una devolución, que podés complementar.
      </p>
    <% end %>
  </div>

  <% if policy(PeerReview::Review).assess? %>

    <%= simple_form_for review, url: assess_peer_review_challenge_review_path(challenge, review) do |f| %>
      
      <%= f.hidden_field :current_solution_id, value: solution.id %>

      <%= f.input :teacher_assessment_description, label: 'Descripción', as: :text, input_html: {rows: 7} %>

      <%= f.button :button, 'Buena revisión', value: :good, name: 'teacher_assessment', class: 'btn-sm btn-success', type: 'submit' %>
      <%= f.button :button, 'Mala revisión', value: :bad, name: 'teacher_assessment', class: 'btn-sm btn-danger', type: 'submit' %>

    <% end %>

  <% end %>

</blockquote>
