<% if review.teacher_assessment.to_sym != :pending %>
  <div class="alert alert-info">
    <p>
      Esta revisi贸n fue evaluada por <%= review.assessor.full_name %> como <strong><%= t "reviews.assessments.#{review.teacher_assessment}" %></strong> 
    </p>
    <% if review.teacher_assessment_description.present? %>
      <blockquote> 
        <p>
          <%= raw review.teacher_assessment_description %>
        </p>
      </blockquote>
    <%end %> 
  </div>
<% end %>

<% if policy(PeerReview::Review).assess? %>

  <%= simple_form_for :assessment, url: assess_peer_review_challenge_review_path(challenge, review) do |f| %>
    
    <%= f.hidden_field :current_solution_id, value: solution.id %>
    
    <%= f.input :teacher_assessment_description, label: 'Descripci贸n', as: :trix_editor, required: false, input_html:{value: review.teacher_assessment_description} %>

    <%= f.button :button, 'Buena revisi贸n', value: :good, name: 'teacher_assessment', class: 'btn-sm btn-success', type: 'submit' %>
    <%= f.button :button, 'Mala revisi贸n', value: :bad, name: 'teacher_assessment', class: 'btn-sm btn-danger', type: 'submit' %>
  
  <% end %>

<% end %>

<% content_for :head do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.css" rel="stylesheet">
<% end %>

<% content_for :javascript do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.js" type="application/javascript"></script>
<% end %>
