<% nav_add 'Desafíos', peer_review_challenges_path %>
<% nav_add @challenge.title, peer_review_challenge_path(@challenge) %>
<% nav_add 'Resolver', '#' %>
<%= nav_render %>

<%= raw @challenge.instructions %>

<hr/>

<% if @challenge.team_challenge && current_user.current_membership.team %>
  <div class="alert alert-info">
    <p>
      <strong>¡Atención!</strong>
      Esta tarea se resuelve por equipos. La estás resolviendo junto a
      <strong><%= current_user.current_membership.team.members.map(&:short_name).join(", ") %></strong>
      para el equipo <strong><%= current_user.current_membership.team.name %></strong>.
    </p>
    <p>La última edición la realizó <strong><%= @solution.author.short_name %></strong>
      (<%= @solution.updated_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y %H:%M") %>)</p>
  </div>
<% end %>

<%= simple_form_for @solution, url: peer_review_challenge_solution_path(peer_review_id: @challenge.id, id: @solution.id) do |f| %>

  <%= f.input :wording, label: 'Desarrollo', as: @challenge.free_text? ? :trix_editor : :text, input_html:{rows:15}%>

  <% if @challenge.allows_attachment? %>
    <%= f.input :solution_attachment, label: 'Adjunto (un solo archivo < 250Kb)' %>
    <div class="form-group">
      <% document = @solution.solution_attachment %>
      <% if document.attached? %>
        <p>Adjunto anterior:</p>
        <%= link_to rails_blob_path(document, disposition: 'preview') do %>
          <i class="fa fa-paperclip"></i>
          <%= document.filename %> <%= link_to "(Eliminar)", remove_attachment_peer_review_challenge_solution_path(@challenge, @solution), method: :post %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= f.button :button, 'Guardar borrador', type: 'submit', name: :status, value: :draft, class: "btn-primary" %>

<% end %>

<% content_for :head do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.css" rel="stylesheet">
<% end %>

<% content_for :javascript do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.js" type="application/javascript"></script>
  <script type="text/javascript" charset="utf-8">
      var content = $("textarea").val();
      var submitting = false;

      $(window).on("beforeunload", function() {
          if (!submitting && content !== $("textarea").val()) {
              return "Se perderán los cambios realizados. ¿Desea salir?";
          }
      });

      $("form").on("submit", function() {
          submitting = true;
      });


      <% if @challenge.source_code? %>
        var myTextArea = document.querySelector("textarea");
        CodeMirror.fromTextArea(myTextArea, {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-java"
        });
      <% end %>


  </script>
<% end %>
