<% title = "Solución de #{@solution.author.full_name}" %>

<% nav_add 'Desafíos', peer_review_challenges_path %>
<% nav_add @challenge.title, peer_review_challenge_path(@challenge) %>
<% nav_add title, '#' %>
<%= nav_render %>

<h2>Consigna</h2>

<%= raw @challenge.instructions %>

<hr/>

<h2><%= title %> (<%= @solution.status %>)</h2>

<div class="well">
  <%= raw @solution.wording %>
</div>

<% unless @solution.review_by(current_user).present? %>
  <%= link_to "Agregar mi revisión", review_peer_review_challenge_solution_path(@challenge, @solution), class: 'btn btn-primary' %>
<% end %>

<h2>Revisiones Recibidas</h2>

<% if @solution.reviews.empty? %>

  <div class="alert alert-info">
    <p>Aún no ha recibido revisiones.</p>
  </div>

<% else %>

  <ul class="nav nav-tabs" id="myTabs" role="tablist">
    <% @solution.reviews.where(status: :final).each_with_index do |review, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>">
        <a href="#<%= "review_#{index}" %>" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">
          <%= "Revisión ##{index + 1}" %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <% @solution.reviews.where(status: :final).each_with_index do |review, index| %>
      <div class="tab-pane fade <%= 'active in' if index == 0 %>" role="tabpanel" id="<%= "review_#{index}" %>" aria-labelledby="home-tab">
        <h3>Revisión de <%= review.reviewer.full_name %> (<%= review.status %>)</h3>

        <div class="well">
          <%= raw review.wording %>
        </div>

        <%= render partial: 'teacher_assessment', locals: { challenge: @challenge, solution: @solution, review: review } %>

      </div>
    <% end %>
  </div>

<% end %>


<h2>Revisiones Realizadas</h2>

<% if @reviews.empty? %>

  <div class="alert alert-info">
    <p>No ha realizado revisiones aún.</p>
  </div>

<% else %>

  <ul class="nav nav-tabs" id="myTabs2" role="tablist">
    <% @reviews.each_with_index do |_, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>">
        <a href="#<%= "rreview_#{index}" %>" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">
          <%= "Revisión ##{index + 1}" %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <% @reviews.each_with_index do |review, index| %>
      <div class="tab-pane fade <%= 'active in' if index == 0 %>" role="tabpanel" id="<%= "rreview_#{index}" %>" aria-labelledby="home-tab">
        <h4>Solución de <%= review.solution.author.full_name %></h4>
        <div class="well">
          <%= raw review.solution.wording %>
        </div>

        <h4>Revisión de <%= review.reviewer.full_name %></h4>
        <div class="well">
          <%= raw review.wording %>
        </div>

        <%= render partial: 'teacher_assessment', locals: { challenge: @challenge, solution: @solution, review: review } %>

      </div>
    <% end %>
  </div>

<% end %>
