<% title = "Solución de #{@solution.author.full_name}" %>

<% nav_add 'Desafíos', peer_review_challenges_path %>
<% nav_add @challenge.title, peer_review_challenge_path(@challenge) %>
<% nav_add title, '#' %>
<%= nav_render %>

<h2>Consigna</h2>

<div class="well">
  <%= raw @challenge.instructions %>
</div>

<hr/>

<h2><%= title %> (<%= @solution.status %>)</h2>

<%= render partial: '/peer_review/solution_wording', locals: {source_code: @challenge.source_code?, wording: @solution.wording, language: @challenge.language } %>

<% if @challenge.allows_attachment? %>
  <div>
    <% document = @solution.solution_attachment %>
    <% if document.attached? %>
      <p>Adjunto:</p>
      <%= link_to rails_blob_path(document, disposition: 'preview') do %>
        <i class="fa fa-paperclip"></i>
        <%= document.filename %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @solution.final? %>
  <% my_review = @solution.review_by(current_user) %>
  <% if my_review.present? && my_review.draft? %>
    <%= link_to "Continuar mi revisión", review_peer_review_challenge_solution_path(@challenge, @solution), class: 'btn btn-primary' %>
  <% elsif !my_review.present? %>
    <%= link_to "Agregar mi revisión", review_peer_review_challenge_solution_path(@challenge, @solution), class: 'btn btn-primary' %>
  <% end %>
<% end %>

<br><br>

<% if policy(@solution).unpublish? %>
  <div class="alert alert-danger">
    <ul>
      <li>Sólo deberías despublicar una solución si es extremadamente necesario</li>
      <li>Esta acción ocasionará que el estudiante
        vuelva a publicarla luego de hacer las ediciones correspondientes
      </li>
      <li>Tené en cuenta que las revisiones que haya recibido
        quedarán obsoletas.
      </li>
    </ul>
    <br>
    <%= link_to 'Despublicar solución del estudiante', unpublish_peer_review_challenge_solution_path(@challenge.id, @solution), method: :post, class: 'btn btn-large btn-danger' %>
  </div>
<% end %>

<h2>Revisiones Recibidas</h2>

<% if @solution.reviews.empty? %>

  <div class="alert alert-info">
    <p>Aún no ha recibido revisiones.</p>
  </div>

<% else %>

  <ul class="nav nav-tabs" id="myTabs" role="tablist">
    <% @solution.reviews.sorted.where(status: :final).each_with_index do |review, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>">
        <a href="#<%= "review_#{index}" %>" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">
          <%= "Revisión ##{index + 1}" %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <% @solution.reviews.sorted.where(status: :final).each_with_index do |review, index| %>
      <div class="tab-pane fade <%= 'active in' if index == 0 %>" role="tabpanel" id="<%= "review_#{index}" %>" aria-labelledby="home-tab">
        <h3>Revisión de <%= review.reviewer.full_name %> (<%= review.status %>)</h3>

        <div class="well">
          <%= raw review.wording %>
        </div>

        <%= render partial: 'teacher_assessment', locals: { challenge: @challenge, solution: @solution, review: review } %>

      </div>
    <% end %>
  </div>

<% end %>


<h2>Revisiones Realizadas</h2>

<% if @reviews.empty? %>

  <div class="alert alert-info">
    <p>No ha realizado revisiones aún.</p>
  </div>

<% else %>

  <ul class="nav nav-tabs" id="myTabs2" role="tablist">
    <% @reviews.sorted.each_with_index do |_, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>">
        <a href="#<%= "rreview_#{index}" %>" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">
          <%= "Revisión ##{index + 1}" %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <% @reviews.sorted.each_with_index do |review, index| %>
      <div class="tab-pane fade <%= 'active in' if index == 0 %>" role="tabpanel" id="<%= "rreview_#{index}" %>" aria-labelledby="home-tab">
        <h3>Solución de <%= review.solution.author.full_name %></h3>
        <%= render partial: '/peer_review/solution_wording', locals: {source_code: @challenge.source_code?, wording: review.solution.wording, language: @challenge.language } %>
        <% if @challenge.allows_attachment? %>
          <div>
            <% document = review.solution.solution_attachment %>
            <% if document.attached? %>
              <p>Adjunto:</p>
              <%= link_to rails_blob_path(document, disposition: 'preview') do %>
                <i class="fa fa-paperclip"></i>
                <%= document.filename %>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <h3>Revisión de <%= review.reviewer.full_name %></h3>
        <div class="well">
          <%= raw review.wording %>
        </div>

        <%= render partial: 'teacher_assessment', locals: { challenge: @challenge, solution: @solution, review: review } %>

      </div>
    <% end %>
  </div>

<% end %>

<% content_for :head do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.css" rel="stylesheet">
  <style><%= ::Rouge::Themes::Base16.mode(:dark).render(scope: '.highlight' ) %></style>
<% end %>

<% content_for :javascript do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.js" type="application/javascript"></script>
<% end %>
