<% title = "Solución de #{@solution.author.full_name}" %>

<% nav_add 'Desafíos', peer_review_challenges_path %>
<% nav_add @challenge.title, peer_review_challenge_path(@challenge) %>
<% nav_add title, '#' %>
<%= nav_render %>

<h2>Consigna</h2>

<div class="trix-content">
  <%= raw @challenge.instructions %>
</div>

<hr/>

<h2><%= title %> (<%= @solution.status %>)</h2>

<div class="well">
  <div class="trix-content">
    <%= raw @solution.wording %>
  </div>
</div>

<h2>Revisiones Recibidas</h2>

<% if @solution.reviews.empty? %>

  <div class="alert alert-info">
    <p>Aún no ha recibido revisiones.</p>
  </div>

<% else %>

  <ul class="nav nav-tabs" id="myTabs" role="tablist">
    <% @solution.reviews.where(status: :final).each_with_index do |review, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>">
        <a href="#<%= "review_#{index}" %>" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">
          <%= "Revisión ##{index + 1}" %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <% @solution.reviews.where(status: :final).each_with_index do |review, index| %>
      <div class="tab-pane fade <%= 'active in' if index == 0 %>" role="tabpanel" id="<%= "review_#{index}" %>" aria-labelledby="home-tab">
        <h3>Revisión de <%= review.reviewer.full_name %> (<%= review.status %>)</h3>

        <div class="well">
          <div class="trix-content">
            <%= raw review.wording %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% end %>
