<% if @challenge.team_challenge %>
  <% title = "Solución del grupo #{@solution.author.current_membership.team.name}" %>
<% else %>
  <% title = "Solución de #{@solution.author.full_name}" %>
<% end %>


<% nav_add 'Desafíos', peer_review_challenges_path %>
<% nav_add @challenge.title, peer_review_challenge_path(@challenge) %>
<% nav_add title, '#' %>
<%= nav_render4 %>

<%= render :partial => '/peer_review/info_box', locals: {challenge: @challenge} %>

<br>

<h2>
  <% if @solution.picked? %>
  <div class="label label-success">Ejemplar</div>
  <% end %>
  <%= title %> (<%= @solution.status %>)
</h2>

<%= render partial: '/peer_review/solution_wording', locals: {source_code: @challenge.source_code?, wording: @solution.wording, language: @challenge.language } %>
<%= render partial: '/peer_review/attachment', locals: {challenge: @challenge, document: @solution.solution_attachment} %>

<br>

<% if @solution.final? %>
  <% my_review = @solution.review_by(current_user) %>
  <% if my_review.present? && my_review.draft? %>
    <%= link_to "Continuar mi revisión", review_peer_review_challenge_solution_path(@challenge, @solution), class: 'btn btn-primary' %>
  <% elsif !my_review.present? %>
    <%= link_to "Agregar mi revisión", review_peer_review_challenge_solution_path(@challenge, @solution), class: 'btn btn-primary' %>
  <% end %>

  <% if @solution.picked? %>
    <%= link_to "Dejar de elegir como ejemplo", unpick_peer_review_challenge_solution_path(@challenge, @solution), class: 'btn btn-warning', method: :post %>
  <% else %>
    <%= link_to "Elegir como ejemplo", pick_peer_review_challenge_solution_path(@challenge, @solution), class: 'btn btn-success', method: :post %>
  <% end %>
<% end %>

<br><br>

<% if policy(@solution).unpublish? %>
  <div class="alert alert-danger">
    <ul>
      <li>Sólo deberías despublicar una solución si es extremadamente necesario</li>
      <li>Esta acción ocasionará que el estudiante
        vuelva a publicarla luego de hacer las ediciones correspondientes
      </li>
      <li>Tené en cuenta que las revisiones que haya recibido
        quedarán obsoletas.
      </li>
    </ul>
    <br>
    <%= link_to 'Despublicar solución del estudiante', unpublish_peer_review_challenge_solution_path(@challenge.id, @solution), method: :post, class: 'btn btn-large btn-danger' %>
  </div>
<% end %>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-solution-tab" data-toggle="tab" href="#nav-solution" role="tab" aria-controls="nav-solution" aria-selected="true">Revisiones recibidas</a>
    <a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="false">Revisiones realizadas</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-solution" role="tabpanel" aria-labelledby="nav-solution-tab">


        <% if @solution.reviews.final.empty? %>
          <%= render partial: 'shared/alert', locals: { message: "Aún no ha recibido revisiones." } %>
        <% else %>
          <div class="row">
            <div class="col-2">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <% @solution.reviews.final.each_with_index do |review, index| %>
                  <a href="#<%= "review_#{index}" %>" id="#<%= "review_#{index}" %>" class="nav-link<%= ' active' if index == 0 %>"
                     aria-controls="#<%= "review_#{index}" %>" role="tab" data-toggle="pill" aria-selected="<%= index == 0 %>">
                    Revisión de <%= review.reviewer.full_name %>
                    <% if review.reviewer.teacher? %>
                      (docente)
                    <% end %>
                  </a>
                <% end %>
              </div>
            </div>
            <div class="col-10">
              <div class="tab-content" id="v-pills-tabContent">
                <% @solution.reviews.final.each_with_index do |review, index| %>
                  <div class="tab-pane fade <%= 'show active' if index == 0 %>" id="<%= "review_#{index}" %>" role="tabpanel" aria-labelledby="<%= "review_#{index}" %>">
                    <% if review.reviewer.teacher? %>
                      <h4>Revisión realizada por <%= review.reviewer.full_name %></h4>
                    <% end %>
                    <div class="well">
                      <%= render partial: '/peer_review/review_wording', locals: {quick_review: @challenge.allows_quick_reviews?, wording: review.wording} %>
                    </div>
                    <%= render partial: '/peer_review/challenges/assessment', locals: {review: review} %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <br>
  </div>

  <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
    <% if @reviews.final.empty? %>
      <%= render partial: 'shared/alert', locals: { message: "No ha realizado revisiones aún." } %>
    <% else %>
      <div class="row">
        <div class="col-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <% @reviews.each_with_index do |review, index| %>
              <a href="#<%= "rreview_#{index}" %>" id="#<%= "rreview_#{index}" %>" class="nav-link<%= ' active' if index == 0 %>"
                 aria-controls="#<%= "rreview_#{index}" %>" role="tab" data-toggle="pill" aria-selected="<%= index == 0 %>">
                Revisión para <%= review.solution.author.full_name %>
                <% if review.reviewer.teacher? %>
                  (docente)
                <% end %>
              </a>
            <% end %>
          </div>
        </div>
        <div class="col-10">
          <div class="tab-content" id="v-pills-tabContent">
            <% @reviews.each_with_index do |review, index| %>
              <div class="tab-pane fade <%= 'show active' if index == 0 %>" id="<%= "rreview_#{index}" %>" role="tabpanel" aria-labelledby="<%= "rreview_#{index}" %>">

                <h3>Solución revisada</h3>
                <%= render partial: '/peer_review/solution_wording', locals: {source_code: @challenge.source_code?, wording: review.solution.wording, language: @challenge.language} %>
                <%= render partial: '/peer_review/attachment', locals: {challenge: @challenge, document: review.solution.solution_attachment} %>

                <br>

                <h3>Revisión de <%= review.reviewer.full_name %></h3>

                <div class="well">
                  <%= render partial: '/peer_review/review_wording', locals: {quick_review: @challenge.allows_quick_reviews?, wording: review.wording} %>
                </div>

                <%= render partial: '/peer_review/challenges/assessment', locals: {review: review} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :head do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.css" rel="stylesheet">
<% end %>

<% content_for :javascript do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.js" type="application/javascript"></script>
<% end %>
