<% nav_add 'Tablero', '#' %>
<%= nav_render %>

<legend>Desafíos de revisión</legend>

<table class="challenges table table-striped">
  <thead>
  <tr>
    <th>Progreso</th>
    <th>Título</th>
    <th>Vencimiento</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <% @challenges.each do |challenge| %>
    <% percentage = (challenge.progress_by?(current_user) * 100).to_i %>
    <tr class="fork <%= 'finished' if percentage == 100 %> <%= 'missed' if percentage < 100 && !challenge.enabled %>">
      <td>
        <div class="progress" style="max-width: 100px; margin-top: 1em;">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= percentage %>"
               aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%;">
            <span <%== 'style="color: black;"' if percentage == 0 %>>
            <%= percentage %>%
            </span>
          </div>
        </div>
      </td>
      <td>
        <%= link_to challenge.title, peer_review_challenge_path(challenge) %>
      </td>
      <td>
        <%= display_date challenge.due_date %>
      </td>
      <td>
        <%= challenge.enabled? ? "Vigente" : "Finalizado" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>



<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

  <style>
    form.button_to {
      display: inline-block;
      margin: 0 0.1em;
    }

    tr.finished {
      background-color: #dff0d8 !important;
    }

    tr.missed {
      background-color: #f2dede !important;
    }
  </style>

<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.challenges').DataTable({
              order: [[1, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
