<legend>
  Listado de desafíos
</legend>

<% if policy(AutomaticCorrection::Repo).manage? %>
  <%= link_to 'Nuevo desafio', new_repo_path, class: 'btn btn-primary' %>
  <br><br>
<% end %>

<section class="forks">

  <% if @repos.empty? %>

    <div class="alert alert-info">
      <p>Aún no hay ningún desafío</p>
    </div>

  <% else %>

    <table class="challenges table table-striped">
      <thead>
      <tr>
        <th>Iniciador</th>
        <th>Enlace al desafío</th>
        <th>Dificultad</th>
        <th>Soluciones</th>
      </tr>
      </thead>
      <tbody>
      <% @repos.each do |repo| %>
        <tr class="fork">
          <td>
            <img class="avatar small" src="<%= repo.avatar_url %>" title="<%= repo.user %>" alt="<%= repo.user %>">
            <%= repo.user %>
          </td>
          <td>
            <%= link_to repo.full_name, repo_path(user: repo.user, name: repo.name) %>
          </td>
          <td>
            <%= stars_for repo %>
          </td>
          <td><%= repo.forks.count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.challenges').DataTable({
              order: [[1, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
