<%= render partial: 'header', locals: {repo: @repo} %>

<%= content_for :head do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.5/c3.min.css" rel="stylesheet">
<% end %>

<% if @repo.parent %>

  <section class="results">
    <h3>
      Resultados de la última entrega: <span class="badge score pull-right"><%= @repo.latest_test_run.score %></span>
    </h3>


    <h3>
      Entregas anteriores
    </h3>

    <div id="graph"></div>

    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody>
        <% @repo.test_runs.order(updated_at: :desc).each do |test_run| %>
          <tr>
            <td>
              <%= link_to test_run_path(test_run.id) do %>
                <%= test_run.created_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y %H:%M") %>
              <% end %>
            </td>
            <td>
              <%= test_run.score %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

<% else %>

  <div class="alert alert-info">
    <% if current_user.has_github_identity? %>
      <p>Podés resolver este desafío, y LoomBot&trade; lo corregirá. Para ello, debés segiur estos pasos:</p>
      <ol>
        <li>Ingresar al repositorio, y revisar la consigna.</li>
        <li>Una vez que decidas resolverla, empezá haciendo un fork del repositorio del desafío.</li>
        <li>Los desafíos están armados para que completes con tu código en ciertos lugares.</li>
        <li><strong>Importante: podés agregar tus propias clases, pero debés respetar la estructura del proyecto, y no debés eliminar ni modificar las firmas de los métodos existentes</strong></li>
        <li>Una vez que hayas completado el ejercicio, y hayas hecho un push en tu propio repositorio, solicitá la corrección.</li>
      </ol>
    <% else %>
      <p>Podés resolver este desafío, y LoomBot&trade; lo corregirá. Para ello, primero vinculá tu cuenta de Github con Loom, saliendo y volviendo a ingresar con esa autenticación.</p>
      <p><strong>Nota:</strong> si tu dirección de correo electrónico es diferente a la de tu cuenta actual, deberás avisarle a tus instructores para que mezclen manualmente tus identidades.</p>
    <% end %>
  </div>

  <% if policy(AutomaticCorrection::Repo).manage? %>
    <div id="graph"></div>
  <% end %>

  <% unless @forks.empty? %>
    <section class="forks">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Autores</th>
        <th>Enlace</th>
        <th>Resultado</th>
      </tr>
      </thead>
      <tbody>
      <% @forks.each do |fork| %>
        <tr class="fork">
          <td>
            <%= image_tag entity_avatar(fork.author), {class: "avatar small", title: fork.author.full_name, alt: fork.author.full_name } %>
            <%= fork.author.full_name %>
          </td>
          <td>
            <% unless fork.pending? %>
              <%= link_to fork.full_name, repo_path(user: fork.user, name: fork.name) %>
            <% else %>
              <%= fork.full_name %>
            <% end %>
          </td>
          <td>
            <% if fork.pending? %>
              Pendiente...
            <% else %>
              <div class="progress">
                <div class="progress-bar progress-bar-<%= fork.latest_test_run.score < 4 ? 'danger' : (fork.latest_test_run.score > 7 ? 'success' : 'warning') %>"
                     role="progressbar" aria-valuenow="<%= fork.latest_test_run.score * 10 %>"
                     aria-valuemin="0" aria-valuemax="100" style="width: <%= fork.latest_test_run.score * 10 %>%">
                  <%= fork.latest_test_run.score %>/10
                </div>
              </div>
              <span class="time-ago" data-time="<%= fork.latest_test_run.created_at.to_i * 1000 %>">TIME AGO</span></td>
            <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
  <% end %>

<% end %>

<% content_for :javascript do %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.5/c3.min.js"></script>

  <script type="text/javascript" charset="utf-8">
      $(function () {
          $(".time-ago").each(function () {
              $(this).text(moment($(this).data('time')).fromNow());
              $(this).attr('title', moment($(this).data('time')).format('LLLL'));
          });

          <% if @repo.parent && !@graph.empty? %>
            var chart = c3.generate({
                bindto: '#graph',
                data: {
                    columns: [
                        <% @graph.summary.each do |series, values| %>
                          ['<%= series %>', <%= values.join(", ") %>],
                        <% end %>
                    ],
                    types: {
                        <% @graph.summary.keys.each do |series| %>
                          <%= series %>: 'area',
                        <% end %>
                    },
                    groups: [<%= raw @graph.summary.keys.flatten %>],
                    order: function (t1, t2) {
                      return t1 < t2;
                    }
                },
                axis: {
                    x: {
                        label: 'Entrega',
                        tick: {
                            format: x => x + 1
                        }
                    },
                    y: {
                        label: 'Puntaje'
                    }
                }
            });
          <% end %>

          <% if policy(AutomaticCorrection::Repo).manage? && !@repo.parent && !@graph.empty? %>
                var chart = c3.generate({
                    bindto: '#graph',
                    data: {
                        columns: [
                            <% @graph.summaries.each do |series, values| %>
                            ['<%= series %>', <%= values.join(", ") %>],
                            <% end %>
                        ]
                    },
                    axis: {
                        x: {
                            label: 'Entrega',
                            tick: {
                                format: x => x + 1
                            }
                        },
                        y: {
                            label: 'Puntaje'
                        }
                    }
                });
          <% end %>
      })
  </script>
<% end %>
