<% nav_add 'Aula', '#' %>
<% nav_add 'Aspirantes', '#' %>
<%= nav_render %>

<%= form_tag bulk_edit_guests_path do %>

  <%= hidden_field(:bulk_edit, :action) %>
  <%= hidden_field(:bulk_edit, :auxiliary_id) %>

  <div class="form-group controls">

    <%= button_tag type: 'button', class: 'btn btn-default do-bulk-edit', data: {action: 'mark_as', id: :guest} do %>
      Marcar como invitados
    <% end %>
    <%= button_tag type: 'button', class: 'btn btn-default do-bulk-edit', data: {action: 'mark_as', id: :teacher} do %>
      Marcar como profesores
    <% end %>
    <%= button_tag type: 'button', class: 'btn btn-default do-bulk-edit', data: {action: 'mark_as', id: :student} do %>
      Marcar como estudiantes
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="members table table-hover">
      <thead>
      <tr>
        <th><a class="do-select-all">Todos</a></th>
        <th class="no-sort">Foto</th>
        <th>Nombre</th>
        <th>Correo electrónico</th>
        <th class="no-sort">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @guests.each do |guest| %>
        <tr>
          <td>
            <%= check_box_tag "guests[ids][]", guest.id %>
          </td>
          <td>
            <img class="avatar<%= ' disabled' unless guest.enabled? %>" src="<%= guest.image %>" data-id="<%= guest.id %>">
          </td>
          <td>
            <%= link_to guest.full_name, user_details_url(guest.nickname) %>
          </td>
          <td><%= mail_to guest.email %></td>
          <td>
            <% if policy(:guest).destroy? %>
              <%= link_to 'Borrar perfil', guest_path(guest), method: :delete, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {

          $('.do-select-all').on('click', function () {
              $("input").prop('checked', true);
          });

          $('.do-bulk-edit').on('click', function () {
              var action = $(this).data('action');
              var auxId = $(this).data('id');

              $('#bulk_edit_action').val(action);
              $('#bulk_edit_auxiliary_id').val(auxId);

              $('form').submit();
          });

          $('.members').DataTable({
              order: [[3, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
