<legend>Nueva clase</legend>

<%= form_for @lecture, url: create_lecture_url do |f| %>
  <div class="form-group">
    <%= f.label :summary, 'Resumen' %>
    <%= f.text_field :summary, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date, 'Fecha' %>
    <%= f.date_select :date, {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.submit "Crear clase", class: "btn btn-primary" %>
  </div>

<% end %>
