<legend>Nueva clase</legend>

<%= form_for @lecture do |f| %>

  <%= render :partial => 'shared/errors', locals: { f: f } %>

  <div class="form-group">
    <%= f.label :summary, 'Resumen', class: 'control-label' %>
    <%= f.text_field :summary, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date, 'Fecha', class: 'control-label' %>
    <%= f.date_select :date, {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.submit "Crear clase", class: "btn btn-primary" %>
  </div>

<% end %>
