<% nav_add 'Aula', '#' %>
<% nav_add 'Docentes', '#' %>
<%= nav_render %>

<%= form_tag join_admin_teachers_path do %>

  <% if policy(User).join? %>
    <%= submit_tag 'Unir perfiles seleccionados', class: 'btn btn-warning' %>
  <% end %>

  <div class="table-responsive">
    <table class="members table table-hover">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="no-sort">Foto</th>
        <th>Nombre</th>
        <th>Correo electrónico</th>
        <th class="no-sort">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @teachers.each do |teacher| %>
        <tr>
          <td>
            <%= check_box_tag "teachers[ids][]", teacher.id, false %>
          </td>
          <td>
            <%= image_tag entity_avatar(teacher), {class: "avatar#{ ' disabled' unless teacher.enabled? }", alt: teacher.full_name, "data-id": teacher.id} %>
          </td>
          <td>
            <%= link_to teacher.full_name, user_details_url(teacher.nickname) %>
          </td>
          <td><%= mail_to teacher.email %></td>
          <td>
            <% if policy(:teacher).destroy? %>
              <%= link_to 'Borrar perfil', admin_teacher_path(teacher), method: :delete, class: 'btn btn-danger btn-sm' %>
            <% end %>
            <% if policy(teacher).promote? %>
              <%= link_to 'Degradar', demote_admin_teacher_path(teacher), method: :post, class: 'btn btn-warning btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>



<% end %>
<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.members').DataTable({
              order: [[3, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });

      $(function () {
          $('.avatar').on('click', function () {
              var userId = $(this).data('id');
              var checkbox = $('input[value=' + userId + ']').not(":disabled");
              checkbox.prop('checked', !checkbox.prop('checked'));
          });
      });
  </script>


<% end %>
