<% nav_add 'Desafíos', peer_review_challenges_path %>
<% nav_add @challenge.title, peer_review_challenge_path(@challenge) %>
<% nav_add 'Revisar', '#' %>
<%= nav_render %>

<%= raw @challenge.instructions %>

<hr/>

<% if current_user.teacher? %>
  <h2>Solución de <%= @challenge.team_challenge ? @review.solution.author.current_membership.team.name : @review.solution.author.full_name %></h2>
<% else %>
  <h2>Solución a revisar</h2>
<% end %>

<%= render partial: '/peer_review/solution_wording', locals: {source_code: @challenge.source_code?, wording: @review.solution.wording, language: @challenge.language } %>
<%= render partial: '/peer_review/attachment', locals: {challenge: @challenge, document: @review.solution.solution_attachment} %>

<br>

<h2>Instrucciones para el revisor</h2>

<div class="well">
  <%= raw @challenge.reviewer_instructions %>
</div>

<hr/>

<% if @challenge.allows_quick_reviews %>
  <% if current_user.student? %>
    <div class="alert alert-danger">
      <p>
        <strong>¡Oops!</strong>
        Este ejercicio está mal configurado. Por favor, avisale a tus docentes.
      </p>
    </div>
  <% else %>
    <div class="row" id="quick-reviews">
    <div class="col-md-6">
      <%= simple_form_for @review, url: peer_review_challenge_review_path(peer_review_id: @challenge.id, id: @review.id) do |f| %>

        <% if @challenge.allows_quick_reviews && current_user.teacher? %>
          <legend>Mi revisión</legend>
          <div class="alert alert-info" v-if="selectedItems.length === 0">
            <p>
              <strong>¡Atención!</strong>
            </p>
            <p>
              Tu revisión está vacía. Seleccioná o agregá en las <strong>posibles correcciones</strong>
              <i class="fa fa-arrow-right"></i>
            </p>
          </div>
          <div class="well" v-if="selectedItems.length > 0">
            <ul>
              <template v-for="item in selectedItems">
                <li><span v-html="item.text"></span></li>
                <input type="hidden" name="peer_review_review_items[]" v-bind:value="item.text"/>
              </template>
            </ul>
          </div>
        <% else %>
          <%= f.input :wording, label: 'Desarrollo', as: :trix_editor %>
        <% end %>

        <template v-if="selectedItems.length > 0">
          <%= f.button :button, 'Guardar borrador', type: 'submit', name: :status, value: :draft, class: "btn-primary" %>
          <%= f.button :button, 'Publicar', type: 'submit', name: :status, value: :final, class: "btn-success" %>
        </template>

      <% end %>
    </div>
    <div class="col-md-6">
      <div>
        <legend>Posibles correcciones</legend>

        <div style="max-height: 50vh; overflow: auto; margin-bottom: 1em">
          <div class="checkbox" v-for="(item, index) in items">
            <label v-bind:class="{ deletable: item.deletable && !item.checked }">
              <input type="checkbox" :name="'quick_review_items' + index" v-model="item.checked"> <span v-html="item.text"></span>
              ({{ item.percentage }} %)
            </label>
          </div>
        </div>


        <div>
          <VueTrix v-model="newField" placeholder="Escribe tu ítem de corrección aquí..."/>
        </div>


        <br/>
        <button type="button" class="btn btn-primary btn-block" v-on:click="addItem">
          <i class="fa fa-plus"></i> Agregar ítem
        </button>

      </div>
    </div>
  </div>
  <% end %>

<% else %>

    <%= simple_form_for @review, url: peer_review_challenge_review_path(peer_review_id: @challenge.id, id: @review.id) do |f| %>

    <% if @challenge.allows_quick_reviews && current_user.teacher? %>
      <legend>Mi revisión</legend>
      <div class="alert alert-info" v-if="selectedItems.length === 0">
        <p>
          <strong>¡Atención!</strong>
        </p>
        <p>
          Tu revisión está vacía. Seleccioná o agregá en las <strong>posibles correcciones</strong>
          <i class="fa fa-arrow-right"></i>
        </p>
      </div>
      <div class="well" v-if="selectedItems.length > 0">
        <ul>
          <template v-for="item in selectedItems">
            <li>{{ item.text }}</li>
            <input type="hidden" name="peer_review_review_items[]" v-bind:value="item.text"/>
          </template>
        </ul>
      </div>Rúbrica
    <% else %>
      <%= f.input :wording, label: 'Desarrollo', as: :trix_editor %>
    <% end %>

    <% if @challenge.rubrics && @challenge.rubrics.size > 0 %>

      <hr>

      <h2>Rúbricas</h2>
      <p>Aquí podés puntuar del 1 al 5 los siguientes aspectos de la solución revisada.</p>

      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th rowspan="2">Rúbrica</th>
          <th colspan="5">Calificación</th>
        </tr>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
        </thead>
        <tbody>
        <% @challenge.rubrics.each do |rubric| %>
          <tr>
            <td>
              <p>
                <%= rubric["title"] %>
              </p>
              <small>
                <%= rubric["criteria"] %>
              </small>
            </td>
            <% 5.times do |i| %>
              <td>
                <%= radio_button_tag "rubrics[#{rubric["title"]}]", i + 1, @review.rubrics && @review.rubrics[rubric["title"]] == (i + 1), required: "required" %>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>

    <% end %>

    <%= f.button :button, 'Guardar borrador', type: 'submit', name: :status, value: :draft, class: "btn-primary" %>
    <%= f.button :button, 'Publicar', type: 'submit', name: :status, value: :final, class: "btn-success" %>

  <% end %>

<% end %>

<% content_for :head do %>
  <style><%= ::Rouge::Themes::Base16.mode(:dark).render(scope: '.highlight' ) %></style>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.css" rel="stylesheet">

  <style>
    .deletable {
      color: lightgray;
    }
  </style>

<% end %>

<% content_for :javascript do %>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.js" type="application/javascript"></script>
  <script src="/js/arreglame/vue-trix.js" type="application/javascript"></script>
  <script type="text/javascript" charset="utf-8">

    $(function() {
        new Vue({
            el: '#quick-reviews',
            data() {
                return { items: <%== @quick_reviews.to_json %>,
                    newField: ""}
            },
            computed: {
                selectedItems: function () {
                    return this.items.filter(function (item) {
                        return item.checked;
                    })
                }
            },
            methods: {
                addItem: function () {
                    this.items.push({ text: this.newField, percentage: 0, checked: true, deletable: true });
                    this.newField = "";
                },
                updateEditorContent(value) {
                    console.log(value);
                }
            },
            components: {
                'vuetrix': VueTrix
            }
        });
    });

  </script>
<% end %>
