<% nav_add 'Desafíos', peer_review_challenges_path %>
<% nav_add @challenge.title, peer_review_challenge_path(@challenge) %>
<% nav_add 'Revisar', '#' %>
<%= nav_render %>

<div class="trix-content">
  <%= raw @challenge.instructions %>
</div>

<h2>Solución a revisar</h2>

<div class="trix-content">
  <%= raw @review.solution.wording %>
</div>

<h2>Instrucciones para el revisor</h2>

<div class="trix-content">
  <%= raw @challenge.reviewer_instructions %>
</div>

<hr/>

<%= simple_form_for @review, url: peer_review_challenge_review_path(peer_review_id: @challenge.id, id: @review.id) do |f| %>

  <%= f.input :wording, label: 'Desarrollo', as: :trix_editor %>

  <%= f.button :button, 'Guardar borrador', type: 'submit', name: :status, value: :draft, class: "btn-primary" %>
  <%= f.button :button, 'Publicar', type: 'submit', name: :status, value: :final, class: "btn-success" %>

<% end %>

<% content_for :head do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.css" rel="stylesheet">
<% end %>

<% content_for :javascript do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.js" type="application/javascript"></script>
  <script type="text/javascript" charset="utf-8">
      var content = $("textarea").val();
      var submitting = false;

      $(window).on("beforeunload", function() {
          if (!submitting && content !== $("textarea").val()) {
              return "Se perderán los cambios realizados. ¿Desea salir?";
          }
      });

      $("form").on("submit", function() {
          submitting = true;
      })
  </script>
<% end %>
