<% nav_add 'Desafíos', peer_review_challenges_path %>
<% nav_add @challenge.title, peer_review_challenge_path(@challenge) %>
<% nav_add 'Revisar', '#' %>
<%= nav_render %>

<%= raw @challenge.instructions %>

<h2>Solución a revisar</h2>

<%= raw @review.solution.wording %>

<h2>Instrucciones para el revisor</h2>

<%= raw @challenge.reviewer_instructions %>

<hr/>

<%= form_for @review, url: peer_review_challenge_review_path(peer_review_id: @challenge.id, id: @review.id) do |f| %>

  <div class="form-group">
    <%= f.label :wording, 'Desarrollo', class: 'control-label' %>
    <%= f.text_area :wording, hidden: true %>
    <trix-editor input="peer_review_review_wording"></trix-editor>
  </div>

  <div class="form-group">
    <% if @review.draft? %>
      <%= f.button 'Guardar borrador', name: :status, value: :draft, class: "btn btn-primary" %>
      <%= f.button 'Publicar', name: :status, value: :final, class: "btn btn-success" %>
    <% end %>
  </div>

<% end %>

<% content_for :head do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.css" rel="stylesheet">
<% end %>

<% content_for :javascript do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.js" type="application/javascript"></script>
  <script type="text/javascript" charset="utf-8">
      var content = $("textarea").val();
      var submitting = false;

      $(window).on("beforeunload", function() {
          if (!submitting && content !== $("textarea").val()) {
              return "Se perderán los cambios realizados. ¿Desea salir?";
          }
      });

      $("form").on("submit", function() {
          submitting = true;
      })
  </script>
<% end %>
