<h1>Desafío de revisión por pares: <%= @challenge.title %></h1>

<blockquote>
  <%= @challenge.instructions %>
</blockquote>

Solucion a revisar

<blockquote>
  <%= @review.solution.wording %>
</blockquote>

<%= form_for @review, url: peer_review_challenge_review_path(peer_review_id: @challenge.id, id: @review.id) do |f| %>

  <div class="form-group">
    <%= f.label :wording, 'Desarrollo', class: 'control-label' %>
    <%= f.text_area :wording, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if @review.draft? %>
      <%= f.button 'Guardar borrador', name: :status, value: :draft, class: "btn btn-primary" %>
      <%= f.button 'Publicar', name: :status, value: :final, class: "btn btn-success" %>
    <% end %>
  </div>

<% end %>
