<legend>Nueva medición</legend>

<%= form_for @reading, url: create_reading_url do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Descripción' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :slug, 'Alias corto' %>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Crear medición", class: "btn btn-primary" %>
  </div>

<% end %>
