- nav_add 'Aula', '#'
- nav_add 'Estudiantes', students_path
- nav_add @student.full_name, user_details_path(@student.nickname)
- nav_add 'Editar', '#'
= nav_render

.row
  .col-xs-12.col-md-4
    = simple_form_for @student, url: student_path(@student) do |f|
      = render :partial => 'shared/errors', locals: {f: f}
      = f.input :first_name, label: 'Nombres'
      = f.input :last_name, label: 'Apellidos'
      = f.button :submit, 'Actualizar', class: "btn-primary"
%hr/
.row
  %legend Perfiles registrados
  - @student.identities.each do |identity|
    .col-md-6
      %h3= identity.provider
      %img{height: "150", src: "#{identity.image}", width: "150"}/
      %dl
        %dt Nombre
        %dd= identity.full_name
        %dt Apodo
        %dd= identity.nickname
        %dt Correo Electrónico
        %dd= identity.email
