<% nav_add 'Aula', '#' %>
<% nav_add 'Estudiantes', '#' %>
<%= nav_render5 %>

<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#actions">Acciones masivas</button>
<%= link_to 'Hoja de asistencia', students_path(format: :csv), class: 'btn btn-primary btn-sm'%>

<br><br>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="teamSelector" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Seleccionar equipo
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% @teams.each do |team| %>
      <a href="#" class="do-select-team dropdown-item" data-team-id="<%= team.id %>"><%= team.name %></a>
    <% end %>
  </ul>
</div>

<%= form_tag bulk_edit_students_path do %>

  <div class="table-responsive">
    <table class="members table table-hover">
      <thead>
      <tr>
        <th class="no-sort"><a class="clickable do-select-all">All</a></th>
        <th class="no-sort">Foto</th>
        <% if Course.current.template? %>
          <th>Curso</th>
        <% end %>
        <% if Course.current.on?(:teams) %>
          <th>Equipo</th>
        <% end %>
        <th>Nombre</th>
        <th>XP</th>
        <th>Puntaje</th>
        <% if Course.current.on?(:badges) %>
          <th>Medallero</th>
        <% end %>
        <th class="no-sort">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @students.each do |student| %>
        <tr>
          <td>
            <%= check_box_tag "students[ids][]", student.id, false,
                              data: { "team-id": student.current_membership.team.try(:id) },
                              disabled: !student.enabled? %>
          </td>
          <td>
            <div class="avatar">
              <%= image_tag entity_avatar(student), {class: "#{ 'disabled' unless student.enabled? }", alt: student.full_name, "data-id": student.id } %>
            </div>
          </td>
          <% if Course.current.template? %>
            <td>
              <%= student.current_membership.course.name %>
            </td>
          <% end %>
          <% if Course.current.on?(:teams) %>
            <td>
              <% team = student.current_membership.team %>
              <% if team %>
                <%= link_to team.name, team_profile_url(team.nickname) %>

                <br>
                <% (team.tags).each do |tag| %>
                  <span class="badge badge-info"><%= tag %></span>
                <% end %>
              <% end %>
            </td>
          <% end %>
          <td>
            <% if student.comments.size > 0 %>
              <i class="fa fa-comments" aria-hidden="true"></i>
              &nbsp;
            <% end %>
            <%= link_to student.full_name, user_details_url(student.nickname) %>
            <small>(<%= student.uuid %>)</small><br/>
            <small><%= student.nickname %></small>
            <!-- <%= student.email %> -->
          </td>
          <td>
            <%= student.points %>
          </td>
          <td>
            <%= @score_calculator.score_for(student.points).round(2) %>
          </td>
          <% if Course.current.on?(:badges) %>
            <td>
              <span class="badge bg-golden" title="Medallas de oro">&times;<%= student.badges.featured.count %></span>
              <span class="badge bg-secondary" title="Medallas de plata">&times;<%= student.badges.not_featured.count %></span>
            </td>
          <% end %>
          <td>
            <% if policy(student).manage? %>
              <div class="btn-group">
                <%= link_to toggle_student_path(student),
                            method: :post, class: 'btn btn-secondary btn-sm', title: student.enabled? ? 'Deshabilitar' : 'Habilitar' do %>
                  <% if student.enabled? %>
                    <i class="fas fa-user-times"></i>
                  <% else %>
                    <i class="fas fa-user-plus"></i>
                  <% end %>
                <% end %>
                <br/>
                <%= link_to student_path(student), method: :delete, class: 'btn btn-danger btn-sm', title: 'Eliminar membresia' do %>
                  <i class="fas fa-trash"></i>
                <% end %>
                <%= link_to edit_student_path(student), class: 'btn btn-primary btn-sm', title: 'Editar perfil' do %>
                  <i class="fas fa-pen"></i>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <%= hidden_field(:bulk_edit, :action) %>
  <%= hidden_field(:bulk_edit, :auxiliary_id) %>

  <div class="modal fade" tabindex="-1" id="actions">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Acciones masivas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">

          <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li role="presentation" class="nav-item">
              <a class="nav-link active" href="#badges-tab" id="home-tab" role="tab" data-bs-toggle="tab" aria-expanded="false">
                Asignar emblema
              </a>
            </li>
            <li role="presentation" class="nav-item">
              <a class="nav-link" href="#events-tab" id="home-tab" role="tab" data-bs-toggle="tab" aria-expanded="false">
                Registrar evento
              </a>
            </li>
            <li role="presentation" class="nav-item">
              <a class="nav-link" href="#misc-tab" id="home-tab" role="tab" data-bs-toggle="tab" aria-expanded="false">
                Acciones varias
              </a>
            </li>
            <li role="presentation" class="nav-item">
              <a class="nav-link" href="#attendance-tab" id="home-tab" role="tab" data-bs-toggle="tab" aria-expanded="false">
                Dar presente
              </a>
            </li>
            <li role="presentation" class="nav-item">
              <a class="nav-link" href="#teams-tab" id="home-tab" role="tab" data-bs-toggle="tab" aria-expanded="false">
                Asignar a equipo
              </a>
            </li>
          </ul>
          <div class="tab-content" id="massive-actions">
            <div class="tab-pane fade active in show" role="tabpanel" id="badges-tab" aria-labelledby="home-tab">
              <% if @badges.empty? %>
                <div class="alert alert-info">
                  <p>Aún no hay ningún emblema</p>
                </div>
              <% else %>
                <% @badges.each do |badge| %>
                  <div class="col-xs-4">
                    <%= button_tag type: 'button', class: 'btn btn-secondary do-bulk-edit',
                                   data: {action: 'assign_badge', id: badge.id} do %>
                      <%= image_tag badge.image, {class: "loom-badge", alt: badge.name,
                                                  "data-toggle": "tooltip", "data-placement": "bottom",
                                                  title: badge.description } %>
                    <% end %>
                    <p>
                      <%= badge.name %>
                    </p>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="events-tab" aria-labelledby="home-tab">
              <% if @events.empty? %>
                <div class="alert alert-info">
                  <p>Aún no hay ningún evento</p>
                </div>
              <% else %>
                <p>Registrar esta cantidad de veces:</p>
                <input class="times form-control" name="bulk_edit[times]" placeholder="Multiplicador" value="1" type="number" min="1"/>
                <p>Sólo si estuvo presente en:</p>
                <%= collection_select(:bulk_edit, :lecture_id, @lectures, :id, :summary, { prompt: 'No era necesario estar presente' }, { class: 'form-control' } ) %>
                <p>El siguiente evento:</p>
                <% @events.each do |event| %>
                  <%= button_tag type: 'button', class: 'btn btn-secondary do-bulk-edit', data: { action: 'register_event', id: event.id} do %>
                    <%= "Registrar evento: #{event.name}" %>
                  <% end %>
                <% end %>
                <hr/>
              <% end %>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="misc-tab" aria-labelledby="home-tab">
              <% if current_user.current_membership.admin? %>
                <%= button_tag type: 'button', class: 'btn btn-secondary do-bulk-edit', data: { action: 'join_profiles', id: nil} do %>
                  Unir perfiles
                <% end %>
              <% end %>
              <% if policy(User).promote? %>
                <%= button_tag type: 'button', class: 'btn btn-secondary do-bulk-edit', data: { action: 'promote', id: nil} do %>
                  Nombrar docentes
                <% end %>
              <% end %>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="attendance-tab" aria-labelledby="home-tab">
              <% @lectures.each do |lecture| %>
                <%= button_tag type: 'button', class: 'btn btn-secondary do-bulk-edit', data: { action: 'attendance', id: lecture.id} do %>
                  <%= l lecture.date %>: <%= lecture.summary %>
                <% end %>
              <% end %>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="teams-tab" aria-labelledby="home-tab">
              <%= button_tag type: 'button', class: 'btn btn-primary do-bulk-edit', data: { action: 'new_team' } do %>
                Crear nuevo equipo
              <% end %>
              <% @teams.each do |team| %>
                <%= button_tag type: 'button', class: 'btn btn-secondary do-bulk-edit', data: { action: 'team', id: team.id} do %>
                  <%= team.name %>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

<% end %>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.do-bulk-edit').on('click', function() {
              var action = $(this).data('action');
              var auxId = $(this).data('id');

              $('#bulk_edit_action').val(action);
              $('#bulk_edit_auxiliary_id').val(auxId);

              $('form').submit();
          });

          $('.avatar').on('click', function () {
              var userId = $(this).data('id');
              var checkbox = $('input[value=' + userId + ']').not(":disabled");
              checkbox.prop('checked', !checkbox.prop('checked'));
          });

          $('.members').DataTable({
              order: [[ 2, "asc" ], [ 3, "asc" ], [ 4, "asc" ]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [ {
                  targets: 'no-sort',
                  orderable: false
              } ]
          });

          $('.do-select-all').on('click', function() {
              $("input").not(":disabled").prop('checked', true);
          });

          $('.do-select-team').on('click', function() {
              var team = $(this).data('teamId');
              $('input').filter('[data-team-id="' + team + '"]').prop('checked', true);

          })
      });
  </script>
<% end %>
