<% nav_add 'Gamificación', '#' %>
<% nav_add 'Emblemas', badges_path %>
<% nav_add @badge.name, badge_path(@badge) unless @badge.new_record? %>
<% nav_add @labels.title, '#' %>
<%= nav_render %>

<%= form_for @badge do |f| %>

  <%= render :partial => 'shared/errors', locals: { f: f } %>

  <div class="form-group">
    <%= f.label :name, 'Nombre', class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Descripción', class: 'control-label' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image, 'Imagen', class: 'control-label' %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.check_box :featured %>
    <%= f.label :featured, 'Especial', class: 'control-label' %>
  </div>

  <div class="form-group">
    <%= f.submit @labels.button, class: "btn btn-primary" %>
  </div>

<% end %>
