<% nav_add 'Gamificación', '#' %>
<% nav_add 'Emblemas', '#' %>
<%= nav_render %>

<%= link_to 'Nuevo emblema', new_badge_path, class: 'btn btn-primary' %>
<br><br>

<% if @badges.empty? %>

  <div class="alert alert-info">
    <p>Aún no hay ningún emblema</p>
  </div>

<% else %>

  <table class="badges table table-hover">
    <thead>
    <tr>
      <th class="no-sort">Imagen</th>
      <th>Emblema</th>
      <th>Destacado</th>
      <th>Descripción</th>
      <th>Otorgamientos</th>
      <th class="no-sort">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td>
          <div class="loom-badge">
            <%= image_tag badge.image, { alt: badge.name } %>
          </div>
        </td>
        <td>
          <%= link_to badge.name, badge_path(badge.id) %>
        </td>
        <td>
          <%= badge.featured? ? "Si" : "No" %>
        </td>
        <td>
          <%= badge.description %>
        </td>
        <td>
          <%= badge.earnings.size %> veces
        </td>
        <td>
          <%= link_to "Editar", edit_badge_path(badge), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.badges').DataTable({
              order: [[1, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
