<legend>Nuevo emblema</legend>

<%= form_for @badge, url: create_badge_url do |f| %>

  <%= render :partial => 'shared/errors', locals: { f: f } %>

  <div class="form-group">
    <%= f.label :name, 'Nombre', class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Descripción', class: 'control-label' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :slug, 'Alias corto', class: 'control-label' %>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Crear emblema", class: "btn btn-primary" %>
  </div>

<% end %>
