- nav_add 'Notificaciones', '#'
= nav_render5

- if @notifications.empty?
  .alert.alert-info
    %p Aún no hay notificaciones
- else
  %section.notifications
    - @notifications.each do |notification|
      %article.notification
        %blockquote.blockquote
          %p
            %strong= notification.subject
          %p= raw notification.text
          %footer.blockquote-footer
            = notification.author
            ,
            = notification.created_at.strftime("%d/%m/%Y")
        %hr/
