<% nav_add 'Notificaciones', '#' %>
<%= nav_render %>

<% if policy(Notification).create? %>
  <%= link_to 'Nueva notificacion', new_notification_path, class: 'btn btn-primary pull-right' %>
<% end %>

<% if @notifications.empty? %>

  <div class="alert alert-info">
    <p>Aún no hay ninguna notificación</p>
  </div>

<% else %>

  <section class="notifications">
    <% @notifications.each do |notification| %>
      <article class="notification">
        <blockquote>
          <strong><%= notification.subject %></strong>
          <br/>
            <%= raw notification.text %>
          <hr/>
          <%= notification.created_at.strftime("%d/%m/%Y") %>
          &mdash;
          <%= notification.author %>
        </blockquote>
      </article>
    <% end %>
  </section>

<% end %>
