<% nav_add 'Aula', '#' %>
<% nav_add 'Perfil', '#' %>
<% nav_add @user.full_name, user_details_path(@user.nickname) %>
<% nav_add 'Editar', '#' %>
<%= nav_render %>

<div class="row">

  <div class="col-xs-12 col-md-4">

    <%= form_for @user, url: update_user_url do |f| %>

      <%= render :partial => 'shared/errors', locals: { f: f } %>

      <div class="form-group">
        <%= f.label :first_name, 'Nombres', class: 'control-label' %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, 'Apellidos', class: 'control-label' %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :avatar, 'Imagen de perfil', class: 'control-label' %>
        <%= f.file_field :avatar, class: 'form-control' %>
      </div>



      <div class="form-group">
        <%= f.submit "Actualizar", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>

  <div class="col-xs-12">

    <legend>Perfiles registrados</legend>

    <div class="row">

      <% @user.identities.each do |identity| %>

        <div class="col-md-6">

          <h3><%= identity.provider %></h3>

          <img src="<%= identity.image %>" width="150" height="150"/>

          <dl>
            <dt>Nombre</dt>
            <dd><%= identity.full_name %></dd>

            <dt>Apodo</dt>
            <dd><%= identity.nickname %></dd>

            <dt>Correo Electrónico</dt>
            <dd><%= identity.email %></dd>

          </dl>

          <%= link_to change_identity_path(identity.id), class: 'btn btn-default' do %>
            Utilizar esta identidad
          <% end %>

        </div>

      <% end %>

    </div>

  </div>


</div>
