- nav_add 'Aula', '#'
- nav_add 'Perfil', '#'
- nav_add @user.full_name, user_details_path(@user.nickname)
- nav_add 'Editar', '#'
= nav_render


= simple_form_for @user, url: update_user_url do |f|
  = render :partial => 'shared/errors', locals: {f: f}
  .row
    .col-md-6.col-lg-4
      = f.input :first_name, label: 'Nombres'
      = f.input :last_name, label: 'Apellidos'
      = f.input :avatar, label: 'Imagen de perfil'
    .col-md-6.col-lg-4
      = f.input :bios, label: 'Bio', as: :text, input_html: { maxlength: 200 }
      = f.button :submit, 'Actualizar', class: "btn-primary"
%hr/
%legend Perfiles registrados  
%ul.identity_provider.row
  - @user.identities.each do |identity|
    %li.col-lg-12.col-xl-6
      %h3= identity.provider      
      .flex
        .left
          %img{height: "150", src: "#{identity.image}", width: "150", class: 'avatar'}
        .right          
          %dl
            %dt Nombre
            %dd= identity.full_name
            %dt Apodo
            %dd= identity.nickname
            %dt Correo Electrónico
            %dd= identity.email
          = link_to change_identity_path(identity.id), class: 'btn btn-outline-primary' do
            Utilizar esta identidad
