<legend>Miembros de <em>loom</em> -
  <small><%= @guests.size %> miembros</small>
</legend>
<%= form_tag bulk_edit_users_path do %>

  <%= hidden_field(:bulk_edit, :action) %>
  <%= hidden_field(:bulk_edit, :auxiliary_id) %>

  <div class="form-group controls">

    <%= button_tag type: 'button', class: 'btn btn-default do-bulk-edit', data: {action: 'mark_as', id: :guest} do %>
      Marcar como invitados
    <% end %>
    <%= button_tag type: 'button', class: 'btn btn-default do-bulk-edit', data: {action: 'mark_as', id: :teacher} do %>
      Marcar como profesores
    <% end %>
    <%= button_tag type: 'button', class: 'btn btn-default do-bulk-edit', data: {action: 'mark_as', id: :student} do %>
      Marcar como estudiantes
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="members table table-hover">
      <thead>
      <tr>
        <th><a class="do-select-all">Todos</a></th>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Enlaces</th>
        <th>Correo electrónico</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @guests.each do |student| %>
        <tr>
          <td>
            <%= check_box_tag "students[ids][]", student.id %>
          </td>
          <td>
            <img class="avatar" src="<%= student.image %>"></td>
          <td><%= student.full_name %></td>
          <td>
            <%= link_to "https://www.github.com/#{student.nickname}" do %>
              https://www.github.com/<%= student.nickname %> <i class="fa fa-external-link"></i>
            <% end %>
            <br/>
            <%= link_to student.nickname, user_details_url(student.nickname) %>
          </td>
          <td><%= mail_to student.email %></td>
          <td>
            <% if policy(student).manage? %>
              <%= link_to 'Rechazar', user_path(student), method: :delete, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= content_for :javascript do %>
  <script type="application/javascript">
      $(function () {
          $('.do-select-all').on('click', function () {
              $("input").prop('checked', true);
          });

          $('.do-bulk-edit').on('click', function () {
              var action = $(this).data('action');
              var auxId = $(this).data('id');

              $('#bulk_edit_action').val(action);
              $('#bulk_edit_auxiliary_id').val(auxId);

              $('form').submit();
          });

      });
  </script>
<% end %>
