<legend>Miembros de <em>loom</em></legend>
<table class="members table table-hover">
  <thead>
  <tr>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Enlaces</th>
    <th>Correo electrónico</th>
  </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><img class="avatar" src="<%= student.image %>"></td>
      <td><%= student.name %></td>
      <td>
        <%= link_to "https://www.github.com/#{student.nickname}" do %>
          https://www.github.com/<%= student.nickname %> <i class="fa fa-external-link"></i>
        <% end %>
        <br/>
        <%= link_to student.nickname, user_details_url(student.nickname) %>
      </td>
      <td><%= mail_to student.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
