<% nav_add 'Aula', '#' %>
<% nav_add 'Estudiantes', '#' %>
<%= nav_render %>

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#actions">Acciones masivas</button>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="teamSelector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Seleccionar equipo
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% @teams.each do |team| %>
      <li><a href="#" class="do-select-team" data-team-id="<%= team.id %>"><%= team.name %></a></li>
    <% end %>
  </ul>
</div>

<%= form_tag bulk_edit_users_path do %>

  <div class="table-responsive">
    <table class="members table table-hover">
      <thead>
      <tr>
        <th class="no-sort"><a class="clickable do-select-all">All</a></th>
        <th class="no-sort">Foto</th>
        <% if Course.current.on?(:teams) %>
          <th>Equipo</th>
        <% end %>
        <th>Nombre</th>
        <th>XP</th>
        <th>Puntaje</th>
        <% if Course.current.on?(:badges) %>
          <th>Medallero</th>
        <% end %>
        <th>Correo electrónico</th>
        <th class="no-sort">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @students.each do |student| %>
        <tr>
          <td>
            <%= check_box_tag "students[ids][]", student.id, false,
                              data: { "team-id": student.current_membership.team.try(:id) },
                              disabled: !student.enabled? %>
          </td>
          <td>
            <img class="avatar<%= ' disabled' unless student.enabled? %>" src="<%= student.image %>" data-id="<%= student.id %>">
          </td>
          <% if Course.current.on?(:teams) %>
            <td>
              <%= link_to student.current_membership.team.try(:name), team_profile_url(student.current_membership.team.nickname) if student.current_membership.team.present? %>
            </td>
          <% end %>
          <td>
            <%= link_to student.full_name, user_details_url(student.nickname) %>
            <small>(<%= student.uuid %>)</small><br/>
            <small><%= student.nickname %></small>
          </td>
          <td>
            <%= student.points %>
          </td>
          <td>
            <%= student.score %>
          </td>
          <% if Course.current.on?(:badges) %>
            <td>
              <span class="badge golden-badge" title="Medallas de oro">&times;<%= student.badges.where(featured: true).count %></span>
              <span class="badge" title="Medallas de plata">&times;<%= student.badges.where(featured: false).count %></span>
            </td>
          <% end %>
          <td><%= mail_to student.email %></td>
          <td>
            <% if policy(student).manage? %>
              <%= link_to student.enabled? ? 'Deshabilitar' : 'Habilitar', toggle_user_path(student),
                          method: :post, class: 'btn btn-default btn-sm' %>
              <%= link_to 'Borrar perfil', user_path(student), method: :delete, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <%= hidden_field(:bulk_edit, :action) %>
  <%= hidden_field(:bulk_edit, :auxiliary_id) %>

  <div class="modal fade" tabindex="-1" role="dialog" id="actions">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Acciones masivas</h4>
        </div>
        <div class="modal-body">

          <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#badges-tab" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">
                Asignar emblema
              </a>
            </li>
            <li role="presentation">
              <a href="#events-tab" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">
                Registrar evento
              </a>
            </li>
            <li role="presentation">
              <a href="#misc-tab" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">
                Acciones varias
              </a>
            </li>
            <li role="presentation">
              <a href="#attendance-tab" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">
                Dar presente
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active in" role="tabpanel" id="badges-tab" aria-labelledby="home-tab">
              <div class="row">
                <% @badges.each do |badge| %>
                  <div class="col-xs-4">
                    <%= button_tag type: 'button', class: 'btn btn-default do-bulk-edit', data: {action: 'assign_badge', id: badge.id} do %>
                      <img class="loom-badge" src="http://www.delucas.com.ar/loom/badges/<%= badge.slug %>.png" data-toggle="tooltip"
                           data-placement="bottom" title="<%= badge.description %>"/>
                    <% end %>
                    <br>
                    <p>
                      <%= badge.name %>
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="events-tab" aria-labelledby="home-tab">
              <% @events.each do |event| %>
                <%= button_tag type: 'button', class: 'btn btn-default do-bulk-edit', data: { action: 'register_event', id: event.id} do %>
                  <%= "Registrar evento: #{event.name}" %>
                <% end %>
              <% end %>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="misc-tab" aria-labelledby="home-tab">
              <% if current_user.current_membership.admin? %>
                <%= button_tag type: 'button', class: 'btn btn-default do-bulk-edit', data: { action: 'join_profiles', id: nil} do %>
                  Unir perfiles
                <% end %>
              <% end %>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="attendance-tab" aria-labelledby="home-tab">
              <% @lectures.each do |lecture| %>
                <%= button_tag type: 'button', class: 'btn btn-default do-bulk-edit', data: { action: 'attendance', id: lecture.id} do %>
                  <%= l lecture.date %>: <%= lecture.summary %>
                <% end %>
                <br/>
              <% end %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

<% end %>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.do-bulk-edit').on('click', function() {
              var action = $(this).data('action');
              var auxId = $(this).data('id');

              $('#bulk_edit_action').val(action);
              $('#bulk_edit_auxiliary_id').val(auxId);

              $('form').submit();
          });

          $('.avatar').on('click', function () {
              var userId = $(this).data('id');
              var checkbox = $('input[value=' + userId + ']').not(":disabled");
              checkbox.prop('checked', !checkbox.prop('checked'));
          });

          $('.members').DataTable({
              order: [[ 2, "asc" ], [ 3, "asc" ]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [ {
                  targets: 'no-sort',
                  orderable: false
              } ]
          });

          $('.do-select-all').on('click', function() {
              $("input").not(":disabled").prop('checked', true);
          });

          $('.do-select-team').on('click', function() {
              var team = $(this).data('teamId');
              $('input').filter('[data-team-id="' + team + '"]').prop('checked', true);

          })
      });
  </script>
<% end %>
