<legend>Miembros de <em>loom</em> -
  <small><%= @students.size %> miembros</small>
</legend>
<%= form_tag bulk_edit_users_path do %>

  <div class="form-group controls" style="display: none;">
    <%= submit_tag 'Marcar como invitados', name: 'mark_as_guest', class: 'btn btn-primary' %>
    <%= submit_tag 'Marcar como profesores', name: 'mark_as_teacher', class: 'btn btn-primary' %>
    <%= submit_tag 'Marcar como estudiantes', name: 'mark_as_student', class: 'btn btn-primary' %>
  </div>

  <div class="table-responsive">
    <table class="members table table-hover">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Foto</th>
        <th>Nombre</th>
        <th>XP</th>
        <th>Enlaces</th>
        <th>Correo electrónico</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @students.each do |student| %>
        <tr>
          <td>
            <%= check_box_tag "students[ids][]", student.id %>
          </td>
          <td>
            <img class="avatar<%= ' disabled' unless student.enabled? %>" src="<%= student.image %>" data-id="<%= student.id %>">
          </td>
          <td>
            <span class="badge"><%= student.level %></span>
            <%= student.name %>
            <small>(<%= student.uuid %>)</small>
          </td>
          <td><%= student.points %></td>
          <td>
            <%= link_to "https://www.github.com/#{student.nickname}", target: '_blank' do %>
              https://www.github.com/<%= student.nickname %> <i class="fa fa-external-link"></i>
            <% end %>
            <br/>
            <%= link_to student.nickname, user_details_url(student.nickname) %>
          </td>
          <td><%= mail_to student.email %></td>
          <td>
            <% if policy(student).impersonate? %>
              <%= link_to 'Personificar', impersonate_user_url(student.nickname), class: 'btn btn-default' %>
            <% end %>
            <% if policy(student).manage? %>
              <%= link_to student.enabled? ? 'Deshabilitar' : 'Habilitar', disable_user_url(student.nickname), class: 'btn btn-default' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.avatar').on('click', function () {
              var userId = $(this).data('id');
              var checkbox = $('input[value=' + userId + ']');
              checkbox.prop('checked', !checkbox.prop('checked'));
          });

          $('.members').DataTable({
              "order": [[ 2, "asc" ]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              }
          });
      });
  </script>
<% end %>
