<% nav_add 'Aula', '#' %>
<% nav_add 'Perfil', '#' %>
<% nav_add @user.full_name, '#' %>
<%= nav_render %>

<% content_for :head do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.5/c3.min.css" rel="stylesheet">
<% end %>


<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="fb-profile">
  <div class="fb-image-lg"></div>
  <%= image_tag entity_avatar(@user), {class: 'fb-image-profile thumbnail', alt: @user.full_name, align: 'left' } %>
  <div class="fb-profile-text">
    <h1>
      <%= @user.full_name %>
      <small><%= @user.nickname %> (<%= @user.uuid %>)</small>
    </h1>
    <div class="student dashboard">
      <div class="col-md-3">
        <div id="chart" data-score="<%= @user.score %>" data-xp="<%= @user.points %>"></div>
      </div>
      <div class="col-md-5">
        <% if Course.current.on?(:teams) %>
          <% team = @user.current_membership.team %>
          <% if team.present? %>
            <%= link_to team_profile_url(team.nickname) do %>
              <%= image_tag entity_avatar(team), {class: "team avatar", alt: team.name } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="student dashboard">
  <div class="col-md-6">

    <% if Course.current.on?(:lectures) %>

      <legend>Asistencia
        <small>
          (<%= @user.total_attendance %>/<%= Lecture.required.count %>)
        </small>
      </legend>

      <% if @user.total_attendance == 0 %>

        <div class="alert alert-info">
          <p>Aún no se registran asistencias...</p>
        </div>

      <% else %>

        <table class="table table-striped table-bordered">
          <tbody>
          <% Lecture.all.each do |lecture| %>
            <tr>
              <td><%= lecture.date.strftime("%d/%m/%Y") %></td>
              <td><%= lecture.summary %></td>
              <td><%= @user.present_at(lecture) ? 'Presente' : lecture.required? ? 'Ausente' : 'Feriado' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      <% end %>
    <% end %>

    <% if Course.current.on?(:events) %>

      <legend>Eventos registrados</legend>

      <% if @user.occurrences.size == 0 %>

        <div class="alert alert-info">
          <p>Aún no se registran eventos...</p>
        </div>

      <% else %>
        <table class="table table-striped table-bordered">
          <tbody>
          <% @user.occurrences.each do |occurrence| %>
            <tr>
              <td><%= occurrence.updated_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y") %></td>
              <td>
                <label class="badge"><%= occurrence.multiplier %>&times;</label>
                <%= occurrence.event.name %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>

    <% end %>

  </div>
  <div class="col-md-6">

    <% if Course.current.on?(:competences) && @user.points > 0 %>

      <legend>
        Habilidades
      </legend>

      <div class="radarChart"></div>

      <p>
        <span style="background-color: #00A0B0; min-width: 1em; display: inline-block">&nbsp;</span> Curso
      </p>
      <% if @user.current_membership.team.present? %>
        <p>
          <span style="background-color: #EDC951; min-width: 1em; display: inline-block">&nbsp;</span> Equipo
        </p>
      <% end %>
      <p>
        <span style="background-color: #CC333F; min-width: 1em; display: inline-block">&nbsp;</span> Propia
      </p>

    <% end %>

    <% if Course.current.on?(:badges) %>

      <legend>Emblemas
        <small>(<%= @user.badges.size %>/<%= Badge.count %>)</small>
      </legend>

      <% if @user.earnings.size == 0 %>

        <div class="alert alert-info">
          <p>Aún no se te otorgaron emblemas...</p>
        </div>

      <% else %>
        <% @user.earnings.each do |earning| %>
          <div class="col-md-4 badge-box">
            <div class="panel panel-default">
              <div class="panel-heading" title="<%= earning.badge.name %>">
                <%= earning.badge.name %>
              </div>
              <div class="panel-body">
                <img class="loom-badge" src="http://www.delucas.com.ar/loom/badges/<%= earning.badge.slug %>.png" data-toggle="tooltip"
                     data-placement="bottom" title="<%= earning.badge.description %>"/>
              </div>
              <div class="panel-footer">
                <%= earning.created_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y") %>
              </div>
            </div>
          </div>
        <% end %>
        <% @missing_badges.each do |badge| %>
          <div class="col-md-4 badge-box">
            <div class="panel panel-default">
              <div class="panel-heading" title="<%= badge.name %>">
                <%= badge.name %>
              </div>
              <div class="panel-body">
                <img class="loom-badge" src="http://www.delucas.com.ar/loom/badges/incognito.png" data-toggle="tooltip"
                     data-placement="bottom" title="<%= badge.description %>"/>
              </div>
              <div class="panel-footer">
                Aún no...
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>

<div class="clearfix"></div>
<br/>



<% if policy(User).manage? %>

  <div class="row">

    <h2>Datos que solamente ve el profesor</h2>

    <div class="data">

      <div class="col-md-6">
        <div class="alert alert-info">
          <p>Espacio reservado para futuros usos.</p>
        </div>
      </div>

      <div class="col-md-6">
        <legend>Comentarios</legend>

        <%= form_for :comment, url: comment_user_url(@user.nickname) do |f| %>
          <div class="form-group">
            <%= f.label :body, 'Texto' %>
            <%= f.text_area :body, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :mood, 'Humor' %>
            <%= f.select :mood, Comment.moods, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.submit "Comentar", class: "btn btn-primary" %>
          </div>
        <% end %>


        <hr/>

        <% @user.comments.each do |comment| %>
          <div class="comment-box">
            <div class="col-sm-2">
              <div class="thumbnail">
                <%= image_tag entity_avatar(comment.commenter), {class: 'img-responsive user-photo', alt: comment.commenter.full_name } %>
              </div>
            </div>

            <div class="col-sm-10">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong><%= comment.commenter.nickname %> (<%= comment.mood %>)</strong>
                  <span class="text-muted"><%= l comment.created_at.in_time_zone('Buenos Aires') %></span>
                </div>
                <div class="panel-body">
                  <%= simple_format comment.body %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>


  </div>

<% end %>

<% content_for :javascript do %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.5/c3.min.js"></script>

  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      });
  </script>

  <script>
      var $chart = $("#chart");
      var xp = +$chart.data("xp"),
          score = +$chart.data("score");

      window.chart = c3.generate({
          data: {
              columns: [
                  ['data', score]
              ],
              type: 'gauge'
          },
          tooltip: {
              show: false
          },
          gauge: {
              label: {
                  format: function (value, ratio) {
                      return xp + " XP";
                  },
                  show: false
              },
              min: 0, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change
              max: 10, // 100 is default
              units: ' XP',
              width: 39 // for adjusting arc thickness
          },
          legend: {
              show: false
          },
          color: {
              pattern: ['#FF0000', '#F6C600', '#60B044', '#0000FF'],
              threshold: {
                  unit: 'value', // percentage is default
                  values: [4, 7, 10, 10.1]
              }
          },
          size: {
              height: 100
          }
      });
  </script>

  <% if @user.points > 0 && Course.current.on?(:competences) %>

    <script>

        var data = [
            <%== Course.current.stats %>,
            <% if @user.current_membership.team.present? %>
            <%== @user.current_membership.team.stats %>,
            <% end %>
            <%== @user.stats.normalized.to_json %>
        ];

        var color = d3.scale.ordinal().range(["#00A0B0","#EDC951","#CC333F"]),
            margin = {top: 75, right: 75, bottom: 75, left: 75};

        var radarChartOptions = {
            w: 450,
            h: 350,
            margin: margin,
            maxValue: 1,
            levels: 5,
            roundStrokes: false,
            color: color,
            bgColor: '#6e6485',
            lineColor: '#6e6485',
            //format: d3.format('d')
            format: function(){}
        };
        RadarChart(".radarChart", data, radarChartOptions);

    </script>

  <% end %>
<% end %>
