<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="fb-profile">
  <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/abstract/2/" alt="Profile image example"/>
  <img align="left" class="fb-image-profile thumbnail" src="<%= @user.image %>" alt="Profile image example"/>
  <div class="fb-profile-text">
    <h1>
      <%= @user.name %>
      <small><%= @user.nickname %></small>
    </h1>
  </div>
</div>

<div class="clearfix"></div>

<div class="student dashboard">
  <div class="col-md-4 box">
    <span class="number"><%= @user.points %></span>
    <label title="Experiencia">XP</label>
  </div>

</div>

<div class="clearfix"></div>
<br/>

<% if policy(User).manage? %>

  <div class="row">

    <h2>Datos que sólamente ve el profesor</h2>

    <div class="data">

      <div class="col-md-6">
        <div class="alert alert-info">
          <p>Espacio reservado para futuros usos.</p>
        </div>
      </div>

      <div class="col-md-6">
        <legend>Comentarios</legend>

        <%= form_for :comment, url: comment_user_url(@user.nickname) do |f| %>
          <div class="form-group">
            <%= f.label :body, 'Texto' %>
            <%= f.text_area :body, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :mood, 'Humor' %>
            <%= f.select :mood, Comment.moods, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.submit "Comentar", class: "btn btn-primary" %>
          </div>
        <% end %>


        <hr/>

        <% @user.comments.each do |comment| %>
          <div class="comment-box">
            <div class="col-sm-2">
              <div class="thumbnail">
                <img class="img-responsive user-photo" src="<%= comment.commenter.image %>">
              </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-sm-10">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong><%= comment.commenter.nickname %> (<%= comment.mood %>)</strong>
                  <span class="text-muted"><%= comment.created_at %></span>
                </div>
                <div class="panel-body">
                  <%= comment.body %>
                </div><!-- /panel-body -->
              </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
          </div>
        <% end %>
      </div>

    </div>


  </div>

<% end %>
