
<div class="text-center">
  <h1 class="trapezoid-title">Mi Perfil</h1>
</div>

<% if @user.earnings.size > 0 %>
<div class="profile">  
  <div>

    <%
       colores = ['#FF0000', '#F6C600', '#60B044', '#0000FF']
       if @user.score < 4
         index = 0
       elsif @user.score < 7
         index = 1
       elsif @user.score < 10
         index = 2
       else
         index = 3
       end
       color = colores[index]
    %>

    <div class="pieContainer">
      <div class="pieSlice" style="background: conic-gradient(<%= color %> 0.00% <%= @user.score * 10 %>%, transparent <%= @user.score * 10 %>% )"></div>
      <div class="avatar-and-team">
        <%= image_tag entity_avatar(@user), { alt: @user.full_name, class: 'avatar' } %>
        <% if Course.current.on?(:teams) %>
          <% team = @user.current_membership.team %>
          <% if team.present? %>
            <div class="team avatar">
              <%= link_to team_profile_url(team.nickname) do %>
                <%= image_tag entity_avatar(team), { alt: team.name, width: '56', height: '56' } %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="xp">
      <%= @user.points %>
      XP
    </div>
  </div>

  <div class="badges">
    <% if Course.current.on?(:badges) %>

<!--       <legend>Emblemas
        <small>(<%= @user.badges.size %>/<%= Badge.count %>)</small>
      </legend> -->

      <% if @user.earnings.size == 0 %>

        <div class="alert alert-info">
          <p>Aún no se te otorgaron emblemas...</p>
        </div>

      <% else %>
        <ul>
          <% @user.earnings.each do |earning| %>
            <li>
              <%= image_tag earning.badge.image, { alt: earning.badge.name, width: 100, height: 100, title: earning.badge.description} %>
              <h3><%= earning.badge.name %></h3>            
            </li>
          <% end %>
          
          <% @missing_badges.each do |badge| %>
            <li>
              <%= image_tag "badges/generic.png", { alt: badge.name, width: 100, height: 100, title: badge.description } %>
              <h3><%= badge.name %></h3>
            </li>
          <% end %>          
        </ul>     


          

      <% end %>
    <% end %>
  </div>


</div>
<% end %>
<!-- <div id="chart" data-score="<%= @user.score %>" data-xp="<%= @user.points %>"></div> -->

<br><br>

<div class="row student dashboard">
  <div class="col-lg-12 col-xl-6">

    <% if Course.current.on?(:lectures) %>

      <% current_lecture = Lecture.current %>
      <% if current_lecture && current_lecture.current? && !current_user.present_at(current_lecture) %>
        <div class="d-grid gap-2">
          <%= link_to 'Dar presente', register_attendance_lecture_path(current_lecture), class: 'btn btn-lg btn-block btn-success mb-4', method: :post %>
        </div>
      <% end %>

      <legend>Asistencia
        <small>
          (<%= @user.total_attendance %>/<%= Lecture.past_and_current.required.count %>)
        </small>
      </legend>

      <% if @user.total_attendance == 0 %>

        <div class="alert alert-info">
          <p>Aún no se registran asistencias...</p>
        </div>

      <% else %>

        <table class="table table-striped table-bordered">
          <tbody>
          <% Lecture.past_and_current.required.each do |lecture| %>
            <tr>
              <td><%= display_day lecture.date.wday %> </td>
              <td><%= display_date lecture.date %> &mdash; <%= display_time_range(lecture.time_from, lecture.time_to) %></td>
              <td><%= lecture.summary %></td>
              <td>
                <% if @user.present_at(lecture) %>
                  <span class="present">Presente</span>
                <% elsif lecture.required? %>
                  <span class="absent">Ausente</span>
                <% else %>
                  <span class="unrequired">No requerida</span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

      <% end %>
    <% end %>

    <% if Course.current.on?(:events) %>

      <legend>Eventos registrados</legend>

      <% if @user.occurrences.size == 0 %>

        <div class="alert alert-info">
          <p>Aún no se registran eventos...</p>
        </div>

      <% else %>
        <table class="table table-striped table-bordered">
          <tbody>
          <% @user.occurrences.each do |occurrence| %>
            <tr>
              <td><%= occurrence.updated_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y") %></td>
              <td>
                <label class="badge bg-secondary"><%= occurrence.multiplier %>x</label>
                <%= occurrence.event.name %>
              </td>
              <% if Course.current.on?(:competences) && occurrence.event.competence_tag %>
                <td>
                  <label class="badge color <%= tag_color_for_entity(occurrence.event.competence_tag) %>">
                    <%= occurrence.event.competence_tag.name %>
                  </label>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>

    <% end %>

  </div>
  <div class="col-lg-12 col-xl-6 hidden-xs">

    <% if Course.current.on?(:competences) && @user.points > 0 %>

      <legend>
        Habilidades
      </legend>

      <div class="radarChart"></div>

      <ul class="chartReferences">
        <li>
          <span class="sample" style="background-color: #00A0B0"></span> <span>Curso</span>
        </li>
        <% if @user.current_membership.team.present? %>
          <li>
            <span class="sample" style="background-color: #EDC951"></span> <span>Equipo</span>
          </li>
        <% end %>
        <li>
          <span class="sample" style="background-color: #CC333F"></span> <span>Propia</span>
        </li>
      </ul>

    <% end %>

    
  </div>

</div>

<br/>

<% if policy(User).manage? %>

  <h2>Datos que solamente ve el profesor</h2>
  <div class="row">
    <div class="col-md-6">
      <legend>Comentarios</legend>

      <%= simple_form_for :comment, url: comment_student_path(@user) do |f| %>

        <%= f.input :body, label: 'Texto', as: :text, required: false %>

        <%= f.button :submit, 'Comentar', class: "btn-primary" %>

      <% end %>

      <% if @user.comments.size > 0 %>

        <hr/>

        <div class="alert alert-info">
          <p>Existe/n <%= @user.comments.size %> comentario/s para esta persona. Podés visualizarlo/s desde aquí</p>
          <p>
            <a data-bs-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="comments">
              Ocultar/mostrar <%= @user.comments.size %> comentarios
            </a>
          </p>
        </div>



        <div id="comments" class="collapse">
          <% @user.comments.each do |comment| %>
            <div class="row" style="margin-bottom: 1em">
              <div class="col-sm-2">
                <div class="avatar">
                  <%= image_tag entity_avatar(comment.commenter), { alt: comment.commenter.full_name } %>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong><%= comment.commenter.nickname %></strong>
                    <span class="text-muted"><%= l comment.created_at.in_time_zone('Buenos Aires') %></span>
                  </div>
                  <div class="panel-body">
                    <%= simple_format comment.body %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>

<% content_for :head do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" rel="stylesheet">
<% end %>


<% content_for :javascript do %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

  <script>
      var $chart = $("#chart");
      var xp = +$chart.data("xp"),
          score = +$chart.data("score");

      window.chart = c3.generate({
          data: {
              columns: [
                  ['data', score]
              ],
              type: 'gauge'
          },
          tooltip: {
              show: false
          },
          gauge: {
              label: {
                  format: function (value, ratio) {
                      return xp + " XP";
                  },
                  show: false
              },
              min: 0, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change
              max: 10, // 100 is default
              units: ' XP',
              width: 39 // for adjusting arc thickness
          },
          legend: {
              show: false
          },
          color: {
              pattern: ['#FF0000', '#F6C600', '#60B044', '#0000FF'],
              threshold: {
                  unit: 'value', // percentage is default
                  values: [4, 7, 10, 10.1]
              }
          },
          size: {
              height: 100
          }
      });
  </script>

  <% if @user.points > 0 && Course.current.on?(:competences) %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js" charset="utf-8"></script>

    <script>

        var data = [
            <%== Course.current.stats %>,
            <% if @user.current_membership.team.present? %>
            <%== @user.current_membership.team.stats %>,
            <% end %>
            <%== @user.stats %>
        ];

        var color = d3.scale.ordinal().range(["#00A0B0", "#EDC951", "#CC333F"]),
            margin = {top: 75, right: 75, bottom: 75, left: 75};

        var radarChartOptions = {
            w: 450,
            h: 350,
            margin: margin,
            maxValue: 1,
            levels: 5,
            roundStrokes: false,
            color: color,
            bgColor: '#6e6485',
            lineColor: '#6e6485',
            //format: d3.format('d')
            format: function () {
            }
        };
        RadarChart(".radarChart", data, radarChartOptions);

    </script>

  <% end %>
<% end %>
