<% nav_add 'Aula', '#' %>
<% nav_add 'Perfil', '#' %>
<% nav_add @user.full_name, '#' %>
<%= nav_render %>

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="fb-profile">
  <%= image_tag "profile-background.jpg", { align: 'left', class: 'fb-image-lg'} %>
  <img align="left" class="fb-image-profile thumbnail" src="<%= @user.image %>" alt="Profile image example"/>
  <div class="fb-profile-text">
    <h1>
      <span class="badge"><%= @user.level %></span> <%= @user.full_name %>
      <small><%= @user.nickname %> (<%= @user.uuid %>)</small>
    </h1>
    <div class="student dashboard">
      <div class="col-md-3 box">
        <span class="number"><%= @user.points %></span>
        <label title="Experiencia">XP</label>
      </div>
      <div class="col-md-5">
        <% if Course.current.on?(:teams) %>
          <% team = @user.current_membership.team %>
          <% if team.present? %>
            <%= link_to team_profile_url(team.nickname) do %>
              <img class="team avatar" title="<%= team.name %>" src="<%= team.image %>">
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="student dashboard">
  <div class="col-md-6">

    <% if Course.current.on?(:lectures) %>

      <legend>Asistencia
        <small>
          (<%= @user.attendances.select { |a| a.condition == 'present' }.count %>/<%= Lecture.count %>)
        </small>
      </legend>

      <% if @user.attendances.size == 0 %>

        <div class="alert alert-info">
          <p>Aún no se registran asistencias...</p>
        </div>

      <% else %>

        <table class="table table-striped table-bordered">
          <tbody>
          <% @user.attendances.sort_by do |a|
            a.lecture.date
          end.each do |attendance| %>
            <tr>
              <td><%= attendance.lecture.date.strftime("%d/%m/%Y") %></td>
              <td><%= attendance.lecture.summary %></td>
              <td><%= attendance.condition == 'absent' ? 'Ausente' : 'Presente' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      <% end %>

    <% end %>

    <% if Course.current.on?(:events) %>

      <legend>Eventos registrados</legend>

      <% if @user.occurrences.size == 0 %>

        <div class="alert alert-info">
          <p>Aún no se registran eventos...</p>
        </div>

      <% else %>
        <table class="table table-striped table-bordered">
          <tbody>
          <% @user.occurrences.each do |occurrence| %>
            <tr>
              <td><%= occurrence.created_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y") %></td>
              <td><%= occurrence.event.name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>

    <% end %>

  </div>
  <div class="col-md-6">

    <% if Course.current.on?(:badges) %>

      <legend>Emblemas
        <small>(<%= @user.badges.size %>/<%= Badge.count %>)</small>
      </legend>

      <% if @user.earnings.size == 0 %>

        <div class="alert alert-info">
          <p>Aún no se te otorgaron emblemas...</p>
        </div>

      <% else %>
        <% @user.earnings.each do |earning| %>
          <div class="col-md-4 badge-box">
            <div class="panel panel-default">
              <div class="panel-heading">
                <%= earning.badge.name %>
              </div>
              <div class="panel-body">
                <img class="loom-badge" src="http://www.delucas.com.ar/loom/badges/<%= earning.badge.slug %>.png" data-toggle="tooltip"
                     data-placement="bottom" title="<%= earning.badge.description %>"/>
              </div>
              <div class="panel-footer">
                <%= earning.created_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y") %>
              </div>
            </div>
          </div>
        <% end %>
        <% @missing_badges.each do |badge| %>
          <div class="col-md-4 badge-box">
            <div class="panel panel-default">
              <div class="panel-heading">
                <%= badge.name %>
              </div>
              <div class="panel-body">
                <img class="loom-badge" src="http://www.delucas.com.ar/loom/badges/incognito.png" data-toggle="tooltip"
                     data-placement="bottom" title="<%= badge.description %>"/>
              </div>
              <div class="panel-footer">
                Aún no...
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>

<div class="clearfix"></div>
<br/>



<% if policy(User).manage? %>

  <div class="row">

    <h2>Datos que solamente ve el profesor</h2>

    <div class="data">

      <div class="col-md-6">
        <div class="alert alert-info">
          <p>Espacio reservado para futuros usos.</p>
        </div>
      </div>

      <div class="col-md-6">
        <legend>Comentarios</legend>

        <%= form_for :comment, url: comment_user_url(@user.nickname) do |f| %>
          <div class="form-group">
            <%= f.label :body, 'Texto' %>
            <%= f.text_area :body, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :mood, 'Humor' %>
            <%= f.select :mood, Comment.moods, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.submit "Comentar", class: "btn btn-primary" %>
          </div>
        <% end %>


        <hr/>

        <% @user.comments.each do |comment| %>
          <div class="comment-box">
            <div class="col-sm-2">
              <div class="thumbnail">
                <img class="img-responsive user-photo" src="<%= comment.commenter.image %>">
              </div>
            </div>

            <div class="col-sm-10">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong><%= comment.commenter.nickname %> (<%= comment.mood %>)</strong>
                  <span class="text-muted"><%= l comment.created_at.in_time_zone('Buenos Aires') %></span>
                </div>
                <div class="panel-body">
                  <%= simple_format comment.body %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>


  </div>

<% end %>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
