<% nav_add 'Gamificación', '#' %>
<% nav_add 'Competencias', '#' %>
<%= nav_render %>

<div class="row">
  <%= link_to 'Nueva competencia', new_competence_tag_path, class: 'btn btn-primary pull-right' %>
</div>

<% if @competence_tags.empty? %>

  <div class="alert alert-info">
    <p>Aún no hay ninguna competencia</p>
  </div>

<% else %>

  <table class="competences table table-hover">
    <thead>
    <tr>
      <th>Competencia</th>
      <th class="no-sort">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @competence_tags.each do |competence| %>
      <tr>
        <td>
          <%= competence.name %>
        </td>
        <td>
          <%= link_to "Editar", edit_competence_tag_path(competence), class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.competences').DataTable({
              order: [[0, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
