<legend>Registrar evento "<%= @event.name %>"</legend>

<div class="students mosaic">
  <% @students.in_groups_of(6) do |group| %>

    <div class="row">

      <% group.each do |student| %>

        <div class="col-md-2 col-xs-6 student-box">
          <% if student %>
            <%= link_to register_event_url(nickname: student.nickname, event_id: @event.id) do %>
              <img class="avatar<%= ' disabled' unless student.enabled? %>" src="<%= student.image %>">
              <p class="data"><%= student.nickname %><br/>
                <small><%= student.full_name %></small>
              </p>
            <% end %>
          <% end %>
        </div>

      <% end %>

    </div>

  <% end %>
</div>
