<div id="wording" class="show">

  <div class="row">
    <div class="col-md-6">
      <dl class="row">

        <dt class="col-sm-5">Vencimiento</dt>
        <dd class="col-sm-7">
          <%= display_date @challenge.due_date %>
        </dd>

        <dt class="col-sm-5">Estado</dt>
        <dd class="col-sm-7">
          <%= @challenge.enabled? ? "Vigente" : "Finalizado" %>
        </dd>

        <dt class="col-sm-5">Dificultad</dt>
        <dd class="col-sm-7">
          <%= stars_for @challenge %>
        </dd>

        <dt class="col-sm-5">Opcional</dt>
        <dd class="col-sm-7">
          <%= yes_no @challenge.optional? %>
        </dd>

      </dl>
    </div>
    <div class="col-md-6">
      <dl class="row">

        <dt class="col-sm-5">Tipo de revisiones</dt>
        <dd class="col-sm-7">
          <%= t "challenges.challenge_modes.#{@challenge.challenge_mode}" %>
        </dd>

        <dt class="col-sm-5">Revisiones esperadas</dt>
        <dd class="col-sm-7">
          <%= @challenge.expected_reviews %>
        </dd>

        <dt class="col-sm-5">Permite adjuntos</dt>
        <dd class="col-sm-7">
          <%= yes_no @challenge.allows_attachment? %>
        </dd>

        <dt class="col-sm-5">Desafío grupal</dt>
        <dd class="col-sm-7">
          <%= yes_no @challenge.team_challenge? %>
        </dd>

      </dl>
    </div>
  </div>

  <h2>Consigna</h2>
  <%== @challenge.instructions %>
</div>

<br>

<div style="text-align: right;">
  <a data-toggle="collapse" href="#wording" role="button" aria-expanded="false" aria-controls="wording">
    Ocultar/mostrar consigna
  </a>
</div>
