<% nav_add 'Aula', '#' %>
<% nav_add 'Docentes', '#' %>
<%= nav_render4 %>

<div class="teachers">
  <legend>Docentes</legend>
  <div class="row">
    <% @teachers.each do |teacher| %>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="left">
              <%= image_tag entity_avatar(teacher), { class: "teacher avatar", alt: teacher.full_name } %>
            </div>
            <div class="right">
              <h5 class="card-title"><%= teacher.full_name %></h5>
              <%= teacher.bios %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :javascript do %>
<script type="text/javascript" charset="utf-8">
  $(window).on('resize', function() {
      equalizeHeights(".card");
  }).resize();
</script>
<% end %>