- nav_add 'Aula', '#'
- nav_add 'Mis docentes', '#'
= nav_render

.team
  .row
    - @teachers.each do |teacher|
      .col-lg-6.col-md-6.col-xs-12
        .card
          .card-body
            .left
              .avatar
                = image_tag entity_avatar(teacher), { alt: teacher.full_name }
            .right
              %h5.card-title= teacher.full_name
              = teacher.bios

= content_for :javascript do
  :javascript
    $(window).on('resize', function() {
        equalizeHeights(".card");
    }).resize();