- nav_add 'Recursos', resources_path
- nav_add @resource.title, '#' unless @resource.new_record?
- nav_add @labels.title, '#'
= nav_render5

= simple_form_for @resource do |f|
  = render :partial => 'shared/errors', locals: { f: f }
  = f.input :title, label: "Título"
  = f.input :url, label: "URL"
  = f.input :description, label: "Descripción"
  = f.association :resource_category, label: "Categoría"
  = f.button :submit, @labels.button, class: "btn-primary"