<% nav_add 'Recursos', '#' %>
<%= nav_render %>

<% if policy(Resource).manage? %>
  <%= link_to 'Nuevo recurso', new_resource_path, class: 'btn btn-primary' %>
  <%= link_to 'Categorías',resource_categories_path, class: 'btn btn-primary' %>
  <br><br>
<% end %>

<% if @resources.empty? %>

  <div class="alert alert-info">
    <p>Aún no hay ningún recurso</p>
  </div>

<% else %>

  <table class="resources table table-hover">
    <thead>
    <tr>
      <th>Categoría</th>
      <th>Recurso</th>
      <th class="no-sort">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td>
          <%= resource.resource_category.name %>
        </td>
        <td>
          <p>
            <%= link_to resource.title, resource.url, target: "blank" %>
          </p>
          <p><%= resource.description %></p>
        </td>
        <td>
          <%= render partial: 'shared/actions4', locals: { entity_class: Resource, entity: resource, controller: :resources } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

<%= content_for :head do %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>

  <script type="application/javascript">
      $(function () {
          $('.resources').DataTable({
              order: [[0, "asc"], [1, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
