<% nav_add 'Cuestionarios de Opción Múltiple', multiple_choices_questionnaires_path %>
<% nav_add @questionnaire.name, multiple_choices_questionnaire_path(@questionnaire) %>
<% nav_add @question.wording.truncate(27), '#' unless @question.new_record? %>
<% nav_add @labels.title, '#' %>
<%= nav_render %>

<% url = @question.new_record? ? multiple_choices_questionnaire_questions_path(@questionnaire) : multiple_choices_questionnaire_question_path(@questionnaire, @question) %>
<%= simple_form_for([@questionnaire, @question], url: url) do |f| %>
  <%= render :partial => 'shared/errors', locals: {f: f} %>

  <%= f.input :wording, label: "Enunciado" %>


  <div id="app">


    <table class="table-hover table-striped table">
      <thead>
      <tr>
        <th>Respuesta</th>
        <th>¿Correcta?</th>
        <th>&nbsp;</th>
      </tr>
      <tbody>

      <template v-for="(answer, index) in answers">

        <template v-if="answer._destroy">
          <tr>
            <td colspan="2">
              <em>Respuesta eliminada...</em>
            </td>
            <td>
              <button type="button" class="btn btn-secondary" v-on:click="restoreEntry(answer)">
                Restaurar
              </button>
            </td>
          </tr>
        </template>


        <template v-if="answer._destroy == null">
          <tr>
            <td>
              <input type="hidden" v-model="answer.id" :name="'multiple_choices_question[answers_attributes][' + index + '][id]'">
              <input type="hidden" v-model="answer._destroy" :name="'multiple_choices_question[answers_attributes][' + index + '][_destroy]'">

              <input class="form-control" type="text" v-model="answer.text" :name="'multiple_choices_question[answers_attributes][' + index + '][text]'"/>
              <br>
              <label>Explicación</label>
              <textarea class="form-control" v-model="answer.explanation" :name="'multiple_choices_question[answers_attributes][' + index + '][explanation]'">
              </textarea>
            </td>
            <td>
              <label>
                <input type="checkbox" v-model="answer.correct" :name="'multiple_choices_question[answers_attributes][' + index + '][correct]'"/>
                Correcta
              </label>
            </td>
            <td>
                <button type="button" class="btn btn-danger" v-on:click="removeEntry(answer)">
                  Remover
                </button>
            </td>
          </tr>
        </template>
      </template>

      </tbody>
    </table>

    <button type="button" @click="addAnswer()" class="btn btn-secondary">Agregar respuesta</button>
  </div>

  <br>

  <%= f.button :submit, @labels.button, class: "btn-primary" %>

<% end %>


<% content_for :javascript do %>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

      var app = new Vue({
          el: '#app',
          data: {
              answers: <%= raw @question.answers.map { | ans |
                    {
                        id: ans.id,
                        text: ans.text,
                        explanation: ans.explanation,
                        correct: ans.correct,
                        _destroy: nil
                    }
              }.to_json %>
          },
          methods: {
              addAnswer: function () {
                  this.answers.push({
                      id: null,
                      text: null,
                      explanation: null,
                      correct: false,
                      _destroy: null
                  });
              },
              removeEntry: function (deletable) {
                  deletable._destroy = true;
              },
              restoreEntry: function (deletable) {
                  deletable._destroy = null;
              }
          }
      });

  </script>

<% end %>
