<% nav_add 'Desafíos', '#' %>
<%= nav_render4 %>

<% if policy(PeerReview::Challenge).manage? %>
  <div class="btn-group">
    <% if policy(PeerReview::Challenge).manage? %>
      <%= link_to 'Nuevo desafio', new_peer_review_challenge_path, class: 'btn btn-primary', role: "button" %>
    <% end %>
    <%= link_to 'Panorama de resoluciones', meta_overview_peer_review_challenges_path, class: 'btn btn-outline-primary', role: "button" %>
    <button type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
      <div class="dropdown-menu">
        <%= link_to 'Panorama de flujo de revisiones', flow_overview_peer_review_challenges_path, class: "dropdown-item" %>
        <%= link_to 'Descargar panorama', peer_review_challenges_path(format: :csv), class: "dropdown-item" %>
        <%= link_to 'Mensajería interna', messages_peer_review_challenges_path, class: "dropdown-item" %>
      </div>
  </div>
<% end %>

<legend>Desafíos publicados</legend>

<section class="forks">

  <% if @challenges.empty? %>

    <div class="alert alert-info">
      <p>Aún no hay ningún desafío</p>
    </div>

  <% else %>

    <table class="challenges table table-striped">
      <thead>
      <tr>
        <th>Título</th>
        <th>Vencimiento</th>
        <th>Estado</th>
        <th>Dificultad</th>
        <th>Opcional</th>
        <th>Tipo de Revisiones</th>
        <th>Revisiones esperadas</th>
        <th><i class="fa fa-paperclip" title="¿Permite archivos adjuntos?"></i></th>
        <th class="no-sort">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @challenges.each do |challenge| %>
        <tr class="fork">
          <td>
            <%= link_to challenge.title, peer_review_challenge_path(challenge) %>
          </td>
          <td>
            <%= display_date challenge.due_date %>
          </td>
          <td>
            <%= challenge.enabled? ? "Vigente" : "Finalizado" %>
          </td>
          <td>
            <%= stars_for challenge %>
          </td>
          <td>
            <%= yes_no challenge.optional? %>
          </td>
          <td>
            <%= t "challenges.challenge_modes.#{challenge.challenge_mode}" %>
          </td>
          <td>
            <%= challenge.expected_reviews %>
          </td>
          <td>
            <%= yes_no challenge.allows_attachment? %>
          </td>
          <td>
            <div class="btn-group" role="group">
              <% if policy(PeerReview::Challenge).monitor? %>
                <%= link_to "Panorama", overview_peer_review_challenge_path(challenge), class: 'btn btn-primary btn-sm', role: "button" %>
                <% if policy(PeerReview::Challenge).manage? %>
                  <%= link_to "Editar", edit_peer_review_challenge_path(challenge), class: 'btn btn-outline-primary btn-sm', role: "button" %>
                <% end %>
                <button type="button" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                  <% if policy(PeerReview::Challenge).manage? %>
                    <% if challenge.published? %>
                      <%= link_to unpublish_peer_review_challenge_path(challenge), class: "dropdown-item", method: :post do %>
                        Despublicar
                      <% end %>
                    <% else %>
                      <%= link_to publish_peer_review_challenge_path(challenge), class: "dropdown-item", method: :post do %>
                        Publicar
                      <% end %>
                    <% end %>
                    <%= link_to challenge.enabled? ? "Finalizar" : "Reabrir", toggle_peer_review_challenge_path(challenge), class: "dropdown-item" %>
                    <%= link_to "Duplicar", duplicate_peer_review_challenge_path(challenge), class: "dropdown-item" %>
                  <% end %>
                  <%= link_to "Descargar todo", bulk_download_peer_review_challenge_path(challenge), class: "dropdown-item" %>
                  <%= link_to "Flujo de revisiones", flow_peer_review_challenge_path(challenge), class: "dropdown-item" %>
                  <% if policy(PeerReview::Challenge).purge? %>
                    <% unless challenge.awarded %>
                      <%= link_to "Premiar", award_peer_review_challenge_path(challenge), class: "dropdown-item", method: :post %>
                    <% end %>
                    <%= link_to "Purgar", purge_peer_review_challenge_path(challenge), class: "dropdown-item", style: "color: red;" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<hr>

<legend>Borradores</legend>

<table class="challenges table table-striped">
  <thead>
  <tr>
    <th>Título</th>
    <th>Vencimiento</th>
    <th>Estado</th>
    <th>Dificultad</th>
    <th>Opcional</th>
    <th>Tipo de Revisiones</th>
    <th>Revisiones esperadas</th>
    <th><i class="fa fa-paperclip" title="¿Permite archivos adjuntos?"></i></th>
    <th class="no-sort">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @drafts.each do |challenge| %>
    <tr class="fork">
      <td>
        <%= link_to challenge.title, peer_review_challenge_path(challenge) %>
      </td>
      <td>
        <%= display_date challenge.due_date %>
      </td>
      <td>
        <%= challenge.enabled? ? "Vigente" : "Finalizado" %>
      </td>
      <td>
        <%= stars_for challenge %>
      </td>
      <td>
        <%= yes_no challenge.optional? %>
      </td>
      <td>
        <%= t "challenges.challenge_modes.#{challenge.challenge_mode}" %>
      </td>
      <td>
        <%= challenge.expected_reviews %>
      </td>
      <td>
        <%= yes_no challenge.allows_attachment? %>
      </td>
      <td>
        <div class="btn-group" role="group">
          <% if policy(PeerReview::Challenge).monitor? %>
            <%= link_to "Panorama", overview_peer_review_challenge_path(challenge), class: 'btn btn-primary btn-sm', role: "button" %>
            <% if policy(PeerReview::Challenge).manage? %>
              <%= link_to "Editar", edit_peer_review_challenge_path(challenge), class: 'btn btn-outline-primary btn-sm', role: "button" %>
            <% end %>
            <button type="button" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
              <% if policy(PeerReview::Challenge).manage? %>
                <% if challenge.published? %>
                  <%= link_to unpublish_peer_review_challenge_path(challenge), class: "dropdown-item", method: :post do %>
                    Despublicar
                  <% end %>
                <% else %>
                  <%= link_to publish_peer_review_challenge_path(challenge), class: "dropdown-item", method: :post do %>
                    Publicar
                  <% end %>
                <% end %>
                <%= link_to challenge.enabled? ? "Finalizar" : "Reabrir", toggle_peer_review_challenge_path(challenge), class: "dropdown-item" %>
                <%= link_to "Duplicar", duplicate_peer_review_challenge_path(challenge), class: "dropdown-item" %>
              <% end %>
              <%= link_to "Descargar todo", bulk_download_peer_review_challenge_path(challenge), class: "dropdown-item" %>
              <%= link_to "Flujo de revisiones", flow_peer_review_challenge_path(challenge), class: "dropdown-item" %>
              <% if policy(PeerReview::Challenge).purge? %>
                <% unless challenge.awarded %>
                  <%= link_to "Premiar", award_peer_review_challenge_path(challenge), class: "dropdown-item", method: :post %>
                <% end %>
                <%= link_to "Purgar", purge_peer_review_challenge_path(challenge), class: "dropdown-item", style: "color: red;" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= content_for :head do %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>

  <script type="application/javascript">
      $(function () {
          $('.challenges').DataTable({
              order: [[0, "asc"]],
              paging: false,
              language: {
                  info: "_TOTAL_ desafíos",
                  infoFiltered: "(filtrado de _MAX_ desafíos en total)"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
