<% nav_add 'Desafíos', '#' %>
<%= nav_render %>

<% if policy(PeerReview::Challenge).manage? %>
  <%= link_to 'Nuevo desafio', new_peer_review_challenge_path, class: 'btn btn-primary' %>
<% end %>

<section class="forks">

  <% if @challenges.empty? %>

    <div class="alert alert-info">
      <p>Aún no hay ningún desafío</p>
    </div>

  <% else %>

    <table class="challenges table table-striped">
      <thead>
      <tr>
        <th>Título</th>
        <th>Vencimiento</th>
        <th>Estado</th>
        <th>Dificultad</th>
        <th>Tipo de Revisiones</th>
        <th>Revisiones esperadas</th>
        <th><i class="fa fa-paperclip" title="¿Permite archivos adjuntos?"></i></th>
        <th class="no-sort">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @challenges.each do |challenge| %>
        <tr class="fork">
          <td>
            <% if current_user.teacher? %>
              <i class="fa <%= challenge.published? ? 'fa-eye' : 'fa-eye-slash' %>"></i>
            <% end %>
            <%= link_to challenge.title, peer_review_challenge_path(challenge) %>
          </td>
          <td>
            <%= display_date challenge.due_date %>
          </td>
          <td>
            <%= challenge.enabled? ? "Vigente" : "Finalizado" %>
          </td>
          <td>
            <%= difficulty challenge.difficulty %>
          </td>
          <td>
            <%= t "challenges.challenge_modes.#{challenge.challenge_mode}" %>
          </td>
          <td>
            <%= challenge.expected_reviews %>
          </td>
          <td>
            <%= yes_no challenge.allows_attachment? %>
          </td>
          <td>
            <% if policy(PeerReview::Challenge).manage? %>
              <% if challenge.published? %>
                <%= button_to unpublish_peer_review_challenge_path(challenge), method: :post, class: 'btn btn-default btn-sm' do %>
                  Despublicar
                <% end %>
              <% else %>
                <%= button_to publish_peer_review_challenge_path(challenge), method: :post, class: 'btn btn-default btn-sm' do %>
                  Publicar
                <% end %>
              <% end %>
              <%= link_to challenge.enabled? ? "Finalizar" : "Reabrir", toggle_peer_review_challenge_path(challenge), class: 'btn btn-default btn-sm' %>
              <%= link_to "Duplicar", duplicate_peer_review_challenge_path(challenge), class: 'btn btn-default btn-sm' %>
              <%= link_to "Editar", edit_peer_review_challenge_path(challenge), class: 'btn btn-default btn-sm' %>
              <%= link_to "Panorama", overview_peer_review_challenge_path(challenge), class: 'btn btn-default btn-sm' %>
            <% end %>
            <% if policy(PeerReview::Challenge).purge? %>
              <%= link_to "Purgar", purge_peer_review_challenge_path(challenge), class: 'btn btn-danger btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

  <style>
    form.button_to {
      display: inline-block;
      margin: 0 0.1em;
    }
  </style>

<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.challenges').DataTable({
              order: [[0, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
