<% nav_add 'Desafíos', '#' %>
<%= nav_render %>

<% if policy(PeerReview::Challenge).manage? %>
  <%= link_to 'Nuevo desafio', new_peer_review_challenge_path, class: 'btn btn-primary' %>
  <%= link_to 'Panorama de flujo de revisiones', flow_overview_peer_review_challenges_path, class: 'btn btn-default' %>
  <%= link_to 'Panorama de revisiones', meta_overview_peer_review_challenges_path, class: 'btn btn-default' %>
<% end %>

<section class="forks">

  <% if @challenges.empty? %>

    <div class="alert alert-info">
      <p>Aún no hay ningún desafío</p>
    </div>

  <% else %>

    <table class="challenges table table-striped">
      <thead>
      <tr>
        <th>Título</th>
        <th>Vencimiento</th>
        <th>Estado</th>
        <th>Dificultad</th>
        <th>Opcional</th>
        <th>Tipo de Revisiones</th>
        <th>Revisiones esperadas</th>
        <th><i class="fa fa-paperclip" title="¿Permite archivos adjuntos?"></i></th>
        <% if policy(PeerReview::Challenge).manage? %>
          <th><i class="fa fa-eye" title="Publicado"></i></th>
        <% end %>
        <th class="no-sort">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @challenges.each do |challenge| %>
        <tr class="fork">
          <td>
            <%= link_to challenge.title, peer_review_challenge_path(challenge) %>
          </td>
          <td>
            <%= display_date challenge.due_date %>
          </td>
          <td>
            <%= challenge.enabled? ? "Vigente" : "Finalizado" %>
          </td>
          <td>
            <%= difficulty challenge.difficulty %>
          </td>
          <td>
            <%= yes_no challenge.optional? %>
          </td>
          <td>
            <%= t "challenges.challenge_modes.#{challenge.challenge_mode}" %>
          </td>
          <td>
            <%= challenge.expected_reviews %>
          </td>
          <td>
            <%= yes_no challenge.allows_attachment? %>
          </td>
          <% if policy(PeerReview::Challenge).manage? %>
            <td>
              <%= yes_no challenge.published? %>
            </td>
          <% end %>
          <td>
            <div class="btn-group display">
              <% if policy(PeerReview::Challenge).manage? %>
                <%= link_to "Panorama", overview_peer_review_challenge_path(challenge), class: 'btn btn-primary btn-sm' %>  
                <%= link_to "Editar", edit_peer_review_challenge_path(challenge), class: 'btn btn-default btn-sm' %>
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <% if challenge.published? %>
                    <li>
                      <%= link_to unpublish_peer_review_challenge_path(challenge), method: :post  do %>
                        Despublicar
                      <% end %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to publish_peer_review_challenge_path(challenge), method: :post do %>
                        Publicar
                      <% end %>
                    </li>
                  <% end %>
                  <li><%= link_to challenge.enabled? ? "Finalizar" : "Reabrir", toggle_peer_review_challenge_path(challenge)%></li>
                  <li><%= link_to "Duplicar", duplicate_peer_review_challenge_path(challenge) %></li>
                  <li><%= link_to "Descargar todo", bulk_download_peer_review_challenge_path(challenge) %></li>
                  <li><%= link_to "Flujo de revisiones", flow_peer_review_challenge_path(challenge) %></li>
                  <% if policy(PeerReview::Challenge).purge? %>
                    <% unless challenge.awarded %>
                      <li><%= link_to "Premiar", award_peer_review_challenge_path(challenge), method: :post %></li>
                    <% end %>
                    <li><%= link_to "Purgar", purge_peer_review_challenge_path(challenge), style:"color: red;" %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

  <style>
    div.display {
      display: flex;
    }
  </style>

<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.challenges').DataTable({
              order: [[0, "asc"]],
              paging: false,
              language: {
                  info: "_TOTAL_ desafíos",
                  infoFiltered: "(filtrado de _MAX_ desafíos en total)"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
