<h1><%= @challenge.title %></h1>

<h2>Consigna</h2>

<div class="trix-content">
  <%= raw @challenge.instructions %>
</div>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>Participantes</th>
    <th>Fecha de Resolución</th>
    <th>Revisiones recibidas</th>
    <th>Revisiones realizadas</th>
  </tr>
  </thead>
  <tbody>
  <% @challenge.solvers.each do |solver| %>
    <% stats = PeerReviewChallengeSolverStats.new(@challenge, solver) %>
    <tr>
      <td>
        <%= stats.solver.name %> <br/>
        <%= link_to "Ver solución", peer_review_challenge_solution_path(@challenge, stats.solution) %>
      </td>
      <td>
        <%= stats.solution.updated_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y %H:%M") %>
      </td>
      <td><%= stats.reviews_received %></td>
      <td><%= stats.reviews_made %></td>
    </tr>
  <% end %>
  </tbody>
</table>
