<% nav_add 'Desafíos', peer_review_challenges_path %>
<% nav_add @challenge.title, peer_review_challenge_path(@challenge) %>
<% nav_add 'Panorama', '#' %>
<%= nav_render %>

<h2>Consigna</h2>

<div class="trix-content">
  <%= raw @challenge.instructions %>
</div>

<h2>Panorama</h2>

<table class="table table-hover table-striped reviews">
  <thead>
  <tr>
    <th>Participantes</th>
    <th>Estado</th>
    <th class="no-sort">Fecha de Resolución</th>
    <th>Revisiones recibidas</th>
    <th>Revisiones realizadas</th>
  </tr>
  </thead>
  <tbody>
  <% @challenge.solvers.each do |solver| %>
    <% stats = PeerReviewChallengeSolverStats.new(@challenge, solver) %>
    <tr>
      <td>
        <%= stats.solver.full_name %> <br/>
        <%= link_to "Ver solución", peer_review_challenge_solution_path(@challenge, stats.solution) %>
      </td>
      <td>
        <%= stats.solution.final? ? 'Final' : 'Borrador' %><br/>
        <%= stats.solution.size %>
      </td>
      <td>
        <%= stats.solution.updated_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y %H:%M") %>
      </td>
      <td><%= stats.reviews_received %></td>
      <td><%= stats.reviews_made %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">

      $(function () {
          $('.reviews').DataTable({
              order: [[0, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false,
              }]
          });
      });
  </script>

<% end %>
