<% nav_add 'Desafíos', peer_review_challenges_path %>
<% nav_add @challenge.title, peer_review_challenge_path(@challenge) %>
<% nav_add 'Panorama', '#' %>
<%= nav_render %>

<%= render partial: 'buttons', locals: { challenge: @challenge } %>

<%= render partial: '/peer_review/info_box', locals: { challenge: @challenge } %>

<h2>Indicadores</h2>

<div class="row">

  <% @overview.registers.each do |register| %>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
      <div class="inforide">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
            &nbsp;
          </div>
          <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
            <h4><%= register.name %></h4>
            <h2><%= register.value %></h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<h2>Panorama</h2>

<table class="table table-hover table-striped reviews">
  <thead>
  <tr>
    <th>Participantes</th>
    <% unless @challenge.team_challenge %>
      <th>Equipo</th>
    <% end %>
    <th>Estado</th>
    <th>Progreso</th>
    <th>Revisado</th>
    <th>Profesor</th>
    <th class="no-sort">Fecha de Resolución</th>
    <th>Revisiones recibidas</th>
    <th>Mensajes en revisiones recibidas</th>
    <th>Revisiones realizadas</th>
  </tr>
  </thead>
  <tbody>
  <% @solvers.each do |solver| %>
    <% stats = PeerReviewChallengeSolverStats.new(@challenge, solver) %>
    <tr>
      <td>
        <% if @challenge.team_challenge %>
          Equipo: <%= stats.solver.current_membership.team.try(:name) %>
        <% else %>
          <%= stats.solver.full_name %>
        <% end %>

        <br/>
        <% if stats.solution %>
          <%= link_to "Ver solución", peer_review_challenge_solution_path(@challenge, stats.solution) %>
          <% my_review = stats.solution.review_by(current_user) %>
          <% unless my_review.present? && my_review.status.to_sym == :final || stats.solution.draft? %>
            •
            <%= link_to (my_review.present? ? 'Continuar revisión' : 'Revisar'), review_peer_review_challenge_solution_path(@challenge, stats.solution) %>
          <% end %>
          <% if stats.solution.picked? %>
            <br>
            <div class="label label-success">Solución ejemplar</div>
          <% end %>
      <% end %>
      </td>
      <% unless @challenge.team_challenge %>
        <td>
          <% team = stats.solver.current_membership.team %>
          <% if team %>
            <%= team.name %>
            <br>
            <% (team.tags).each do |tag| %>
              <span class="badge badge-info"><%= tag %></span>
            <% end %>
          <% end %>
        </td>
      <% end %>
      <td>
        <% if stats.solution %>
          <%= stats.solution.final? ? 'Final' : 'Borrador' %><br/>
          <%= stats.solution.size %>
        <% else %>
          No resuelto
        <% end %>
      </td>
      <td>
        <% progress = @challenge.progress_by? stats.solver %>
        <div class="progress" style="height: 10px;">
          <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= ratio_to_percentage progress %>;" aria-valuemin="0" aria-valuemax="100"></div>
        </div>  
        <%= ratio_to_percentage progress %>  
      </td>
      <td>
        <% if stats.solution && stats.solution.final? %>
          <%= yes_no stats.reviewed_by_teacher? %>
        <% end %>
      </td>
      <td>
        <% if stats.solution && stats.solution.final? %>
          <%= stats.teachers_who_reviewed %>
        <% end %>
      </td>
      <td>
        <%= stats.solution.updated_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y %H:%M") if stats.solution %>
      </td>
      <% if stats.solution %>
        <td><%= stats.reviews_received %></td>
        <td><%= stats.messages_on_received_reviews %></td>
        <td><%= stats.reviews_made %></td>
      <% else %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

  <style>

    .inforide {
      box-shadow: 1px 2px 8px 0px gray;
      background-color: white;
      border-radius: 8px;
      height: 10em;
    }

    .rideone {
      background-color: #6CC785;
      padding-top: 25px;
      border-radius: 8px 0px 0px 8px;
      text-align: center;
      height: 10em;
      margin-left: 15px;
    }

    .fontsty {
      margin-right: -15px;
    }

    .fontsty h2{
      color: #6E6E6E;
      font-size: 35px;
      margin-top: 15px;
      text-align: right;
      margin-right: 30px;
    }

    .fontsty h4{
      color: #6E6E6E;
      font-size: 25px;
      margin-top: 20px;
      text-align: right;
      margin-right: 30px;
    }
  </style>

<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">

      $(function () {
          $('.reviews').DataTable({
              order: [[0, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>

<% end %>
