<% nav_add 'Desafíos', peer_review_challenges_path %>
<% nav_add @challenge.title, '#' %>
<%= nav_render %>

<% unless @challenge.reviews.where(reviewer: current_user, status: :draft).empty? %>

  <div class="alert alert-danger">
    <p>
      <strong>¡Cuidado!</strong> Tenés una revisión no publicada. Tomate tu tiempo, pero publicala para que otro
      participantes puedan verla.
    </p>
  </div>

<% end %>

<h2>Consigna</h2>

<%= raw @challenge.instructions %>

<hr/>

<% if @challenge.enabled? %>

  <p>
    <%= link_to 'Resolver', new_peer_review_challenge_solution_path(@challenge.id), class: 'btn btn-large btn-primary', disabled: !@challenge.solvable_by?(current_user) %>
    <%= link_to 'Revisar alguna solución', new_peer_review_challenge_review_path(@challenge.id), class: 'btn btn-large btn-primary', disabled: !@challenge.reviewable_by?(current_user) %>

    <% if @solution && policy(@solution).unpublish? %>
      <%= link_to 'Despublicar solución', unpublish_peer_review_challenge_solution_path(@challenge.id, @solution), method: :post, class: 'btn btn-large btn-warning', disabled: !@challenge.reviewable_by?(current_user) %>
    <% end %>

  </p>

<% end %>

<% unless @solution.present? %>

  <div class="alert alert-info">
    <p>Aún no resolviste este desafío.</p>
  </div>

<% else %>

  <h2>Mi solución (<%= @solution.status %>)</h2>

  <div class="well">
    <%= raw @solution.wording %>
  </div>

  <% if @challenge.allows_attachment? %>
    <div>
      <% document = @solution.solution_attachment %>
      <% if document.attached? %>
        <p>Adjunto:</p>
        <%= link_to rails_blob_path(document, disposition: 'preview') do %>
          <i class="fa fa-paperclip"></i>
          <%= document.filename %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @solution.draft? %>

    <div class="alert alert-info">
      <p>
        Cuando consideres que tu solución está presentable... ¡publicala! Así podrás recibir revisiones, y revisar las
        soluciones de otros participantes.
      </p>
    </div>

  <% else %>

    <h2>Revisiones Recibidas</h2>

    <% if @solution.reviews.final.empty? %>

      <div class="alert alert-info">
        <p>Tu solución aún no ha recibido revisiones.</p>
      </div>

    <% else %>

      <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <% @solution.reviews.where(status: :final).each_with_index do |review, index| %>
          <li role="presentation" class="<%= 'active' if index == 0 %>">
            <a href="#<%= "review_#{index}" %>" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">
              <%= "Revisión ##{index + 1}" %>
              <% if review.reviewer.teacher? %>
                (docente)
              <% end %>
            </a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content" id="myTabContent">
        <% @solution.reviews.where(status: :final).each_with_index do |review, index| %>
          <div class="tab-pane fade <%= 'active in' if index == 0 %>" role="tabpanel" id="<%= "review_#{index}" %>" aria-labelledby="home-tab">
            <% if review.reviewer.teacher? %>
              <h4>Revisión realizada por <%= review.reviewer.full_name %></h4>
            <% end %>
            <div class="well">
              <%= raw review.wording %>
            </div>

            <%= render partial: 'assessment', locals: { review: review } %>

          </div>
        <% end %>
      </div>

    <% end %>

    <h2>Revisiones Realizadas</h2>


    <% if @challenge.reviews.where(reviewer: current_user).empty? %>

      <div class="alert alert-info">
        <p>No realizaste revisiones aún.</p>
      </div>

    <% else %>

      <ul class="nav nav-tabs" id="myTabs2" role="tablist">
        <% @challenge.reviews.where(reviewer: current_user).each_with_index do |review, index| %>
          <li role="presentation" class="<%= 'active' if index == 0 %>">
            <a href="#<%= "rreview_#{index}" %>" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">
              <%= "Revisión ##{index + 1}" %>
            </a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content" id="myTabContent">
        <% @challenge.reviews.where(reviewer: current_user).each_with_index do |review, index| %>
          <div class="tab-pane fade <%= 'active in' if index == 0 %>" role="tabpanel" id="<%= "rreview_#{index}" %>" aria-labelledby="home-tab">
            <h4>Solución revisada</h4>
            <div class="well">
              <%= raw review.solution.wording %>
            </div>

            <% if @challenge.allows_attachment? %>
              <div>
                <% document = review.solution.solution_attachment %>
                <% if document.attached? %>
                  <p>Adjunto:</p>
                  <%= link_to rails_blob_path(document, disposition: 'preview') do %>
                    <i class="fa fa-paperclip"></i>
                    <%= document.filename %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <h4>Mi revisión</h4>
            <div class="well">
              <%= raw review.wording %>
            </div>

            <%= render partial: 'assessment', locals: { review: review } %>

          </div>
        <% end %>
      </div>

    <% end %>

  <% end %>

<% end %>

<% content_for :javascript do %>
  <script type="application/javascript">
      $(function () {
          //$('a[disabled="disabled"]').removeAttr('href');
      });
  </script>
<% end %>
