<legend>
  Listado de cursos
</legend>

<% if @courses.empty? %>

  <div class="alert alert-info">
    <p>Aún no hay cursos abiertos para la inscripción</p>
  </div>

<% else %>

  <table class="table table-hover">
    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.name %>
        </td>
        <td>
          <% if current_user.courses.include?(course) %>
            <%= link_to switch_course_path(course), class: 'btn btn-primary' do %>
              Ir al aula virtual
            <% end %>
          <% else %>

            <%= form_for :enrollment, url: enroll_course_path(course), html: { class: 'form-inline' } do |f| %>

              <div class="form-group">
                <%= f.text_field :password, class: 'form-control', placeholder: 'Contraseña' %>
              </div>

              <%= f.submit "Inscribirse", class: 'btn btn-primary' %>

            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
