- nav_add 'Cursos', '#'
= nav_render

- if @courses.empty?
  .alert.alert-info
    %p Aún no hay cursos abiertos para la inscripción
- else
  %table.table.table-hover
    %tbody
      - @courses.each do |course|
        %tr
          %td
            = course.name
          %td.mw-200
            - if current_user.courses.include?(course)
              .d-grid.gap-2
                = link_to switch_course_path(course), class: 'btn btn-primary' do
                  Ir al aula virtual
            - else
              = simple_form_for :enrollment, url: enroll_course_path(course), html: { class: 'form-inline' }, wrapper: nil do |f|
                .input-group
                  = f.password_field :password, class: "form-control", placeholder: 'Contraseña', autocomplete: "new-password"
                  = f.button :submit, 'Inscribirse', class: "btn btn-primary"
