<% nav_add 'Cuestionario de Opción Múltiple', multiple_choices_questionnaires_path %>
<% nav_add @questionnaire.name, multiple_choices_questionnaire_path(@questionnaire) unless @questionnaire.new_record? %>
<% nav_add @labels.title, '#' %>
<%= nav_render %>

<%= simple_form_for @questionnaire do |f| %>

  <%= render :partial => 'shared/errors', locals: { f: f } %>

  <%= f.input :name, label: "Nombre del cuestionario" %>

  <%= f.input :single_use, label: "Oportunidad única" %>

  <div id="app">

    <legend>Preguntas ({{ questions.length }})</legend>

    <div v-for="(question, qindex) in questions" class="question">
      <input type="hidden" v-model="question.id" :name="'multiple_choices_questionnaire[questions_attributes][' + qindex + '][id]'">
      <input type="hidden" v-model="question._destroy" :name="'multiple_choices_questionnaire[questions_attributes][' + qindex + '][_destroy]'">
      <div class="row">

        <template v-if="question._destroy">
          <div class="col-md-10">
            <em>Pregunta eliminada...</em>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-secondary" v-on:click="restoreEntry(question)">
              Restaurar
            </button>
          </div>
        </template>
        <template v-if="question._destroy == null">
          <div class="qindex">
            {{ qindex + 1 }}
          </div>
          <div class="col-md-8">
            <input class="form-control" type="text" v-model="question.wording" :name="'multiple_choices_questionnaire[questions_attributes][' + qindex + '][wording]'"/>
          </div>
          <div class="col-md-2">
            <label>
              <input type="checkbox" v-model="question.hidden" :name="'multiple_choices_questionnaire[questions_attributes][' + qindex + '][hidden]'"/>
              Esconder
            </label>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger" v-on:click="removeEntry(question)">
              Remover pregunta
            </button>
            <button type="button" class="btn btn-warning" v-on:click="dupQuestion(question)">
              Duplicar pregunta
            </button>
          </div>
        </template>
      </div>
      <table class="question table-hover table-striped table" v-if="!question._destroy">
        <thead>
        <tr>
          <th>#</th>
          <th>Opciones</th>
          <th>¿Correcta?</th>
          <th style="width: 100px;">&nbsp;</th>
        </tr>
        <tbody>

        <template v-for="(answer, index) in question.answers">

          <template v-if="answer._destroy">
            <tr>
              <td colspan="3">
                <em>Opción eliminada...</em>
              </td>
              <td>
                <button type="button" class="btn btn-secondary" v-on:click="restoreEntry(answer)">
                  Restaurar
                </button>
              </td>
            </tr>
          </template>


          <template v-if="answer._destroy == null">
            <tr>
              <td>
                {{ index + 1 }}
              </td>
              <td>
                <input type="hidden" v-model="answer.id" :name="'multiple_choices_questionnaire[questions_attributes][' + qindex + '][answers_attributes][' + index + '][id]'">
                <input type="hidden" v-model="answer._destroy" :name="'multiple_choices_questionnaire[questions_attributes][' + qindex + '][answers_attributes][' + index + '][_destroy]'">

                <input class="form-control" type="text" v-model="answer.text" :name="'multiple_choices_questionnaire[questions_attributes][' + qindex + '][answers_attributes][' + index + '][text]'"/>
                <br>
                <label>Explicación</label>
                <textarea class="form-control" v-model="answer.explanation" :name="'multiple_choices_questionnaire[questions_attributes][' + qindex + '][answers_attributes][' + index + '][explanation]'">
                </textarea>
              </td>
              <td>
                <label>
                  <input type="hidden" value="" :name="'multiple_choices_questionnaire[questions_attributes][' + qindex + '][answers_attributes][' + index + '][correct]'"/>
                  <input type="checkbox" v-model="answer.correct" :name="'multiple_choices_questionnaire[questions_attributes][' + qindex + '][answers_attributes][' + index + '][correct]'"
                    class="multiple_choices_questionnaire_question"/>
                  Correcta
                </label>
              </td>
              <td>
                <button type="button" class="btn btn-danger" v-on:click="removeEntry(answer)">
                  Remover esta opción
                </button>
                <button type="button" class="btn btn-warning" v-on:click="dupAnswer(question, answer)">
                  Duplicar esta opción
                </button>
              </td>
            </tr>
          </template>
        </template>

        </tbody>
        <tfoot>
        <tr>
          <td colspan="99">
            <button type="button" @click="addAnswer(question)" class="btn btn-secondary">Agregar opción</button>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
    <br>
    <button type="button" @click="addQuestion()" class="btn btn-secondary">Agregar pregunta</button>
  </div>

  <hr>

  <%= f.button :submit, @labels.button, class: "btn-primary" %>

<% end %>

<% content_for :head do %>

  <style>
      #app .question {
          border: 1px solid black;
          border-radius: 5px;
          padding: 1em 1em 0 1em;
          margin-bottom: 1em;
      }

      #app .qindex {
          background-color: #41367c;
          color: white;
          font-weight: bold;
          position: absolute;
          padding: 0.5em 1em;
          z-index: 999;
          margin-left: -2em;
          box-shadow: 1px 1px 1px black;
      }
  </style>

<% end %>


<% content_for :javascript do %>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>

  <script>

      new Vue({
          el: '#app',
          data: {
              questions:<%= raw @questionnaire.questions.map { | question |
                {
                  id: question.id,
                  wording: question.wording,
                  hidden: question.hidden,
                  _destroy: nil,
                  answers: question.answers.map { |ans|
                    {
                        id: ans.id,
                        text: ans.text,
                        explanation: ans.explanation,
                        correct: ans.correct,
                        _destroy: nil
                    }
                  }
                }
              }.to_json %>,
          },
          methods: {
              addQuestion: function() {
                  this.questions.push({
                      id: null,
                      wording: null,
                      hidden: false,
                      answers: [{
                          id: null,
                          text: null,
                          explanation: null,
                          correct: false,
                          _destroy: null
                      }, {
                          id: null,
                          text: null,
                          explanation: null,
                          correct: false,
                          _destroy: null
                      }],
                      _destroy: null
                  })
              },
              addAnswer: function (question) {
                  question.answers.push({
                      id: null,
                      text: null,
                      explanation: null,
                      correct: false,
                      _destroy: null
                  });
              },
              dupQuestion: function (question) {
                  cloned = _.cloneDeep(question);
                  cloned.id = null;
                  cloned.answers.forEach(function(el) {
                      el.id = null;
                  })
                  this.questions.push(cloned);
              },
              dupAnswer: function (question, answer) {
                  cloned = { ...answer };
                  cloned.id = null;
                  question.answers.push(cloned);
              },
              removeEntry: function (deletable) {
                  deletable._destroy = true;
              },
              restoreEntry: function (deletable) {
                  deletable._destroy = null;
              }
          }
      });

      $(function () {
          $("body").on("click", ".multiple_choices_questionnaire_question", function () {
              if (this.checked)
                  $(this).parents("table").find(".multiple_choices_questionnaire_question").not(this).each(function () {
                      this.checked = false;
                  });
          });
          $("form").on("submit", function() {
              var isValid = $("table.question").length == $(".multiple_choices_questionnaire_question:checked").length;
              if (!isValid)
                  alert("Cada pregunta debe tener una respuesta correcta. ¡Revisa tu cuestionario por favor!");
              return isValid;
          });
      });

  </script>

<% end %>
