<% nav_add 'Cuestionarios de Opción Múltiple', multiple_choices_questionnaires_path %>
<% nav_add @questionnaire.name, '#' %>
<% nav_add 'Resultados', '#' %>
<%= nav_render %>

<div class="row">
  <div class="col-md-9">
    <legend><%= @questionnaire.name %></legend>

    <ol class="questionnaire">
      <% @questionnaire.questions.each do |question| %>
        <li class="question">
          <%= question.wording %>
          <% question.answers.each do |answer| %>
            <div class="answer <%= answer.classes %>">
              <label>
                <input type="radio" disabled="disabled" <%= answer.chosen ? 'checked' : '' %>/>
                <%= answer.text %>
              </label>
              <% if answer.chosen %>
                <p class="help-block">
                  <%= answer.explanation %>
                </p>
              <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="col-md-3">
    <legend>Resumen</legend>

    <table class="table table-bordered table-stripped table-hover">
      <thead>
      <tr>
        <th>
          Resultado
        </th>
        <th>
          Porcentual
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <%= @questionnaire.points %> / <%= @questionnaire.total_points %>
        </td>
        <td>
          <%= (@questionnaire.points.to_f * 100 / @questionnaire.total_points).round(2) %> %
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
