<% nav_add 'Cuestionarios de Opción Múltiple', '#' %>
<%= nav_render %>

<% if policy(MultipleChoices::Questionnaire).manage? %>
  <%= link_to 'Nuevo cuestionario', new_multiple_choices_questionnaire_path, class: 'btn btn-primary' %>
  <br><br>
<% end %>

<br><br>

<section class="forks">

  <% if @questionnaires.empty? %>

    <div class="alert alert-info">
      <p>Aún no hay ningun cuestionario</p>
    </div>

  <% else %>

    <table class="questionnaires table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Preguntas</th>
        <th class="no-sort">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @questionnaires.each do |questionnaire| %>
        <tr class="fork">
          <td>
            <%= questionnaire.name %>
          </td>
          <td>
            <%= questionnaire.questions.count %>
          </td>
          <td>
            <%= link_to "Practicar", practice_multiple_choices_questionnaire_path(questionnaire), class: 'btn btn-primary btn-sm' %>

            <% if policy(MultipleChoices::Questionnaire).manage? %>
              <div class="btn-group display">

                <%= link_to "Panorama", overview_multiple_choices_questionnaire_path(questionnaire), class: 'btn btn-primary btn-sm' %>
                <%= link_to "Configurar", multiple_choices_questionnaire_path(questionnaire), class: 'btn btn-default btn-sm' %>
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <% if questionnaire.published? %>
                    <li>
                      <%= link_to unpublish_multiple_choices_questionnaire_path(questionnaire), method: :post do %>
                        Despublicar
                      <% end %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to publish_multiple_choices_questionnaire_path(questionnaire), method: :post do %>
                        Publicar
                      <% end %>
                    </li>
                  <% end %>
                  <li><%= link_to "Editar", edit_multiple_choices_questionnaire_path(questionnaire) %></li>
                </ul>
              </div>
            <% end %>

          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.questionnaires').DataTable({
              order: [[0, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
