<% nav_add 'Cuestionarios de Opción Múltiple', multiple_choices_questionnaires_path %>
<% nav_add @questionnaire.name, '#' %>
<% nav_add 'Práctica', '#' %>
<%= nav_render %>

<legend><%= @questionnaire.name %></legend>


<%= form_tag grade_multiple_choices_questionnaire_path(@questionnaire) do %>

  <ol>
    <% @questionnaire.questions.each do |question| %>
      <li>
        <%= question.wording %>
        <ol>
          <%= collection_radio_buttons(:questionnaire, :question_ids, question.answers, :id, :text, include_hidden: false) do |r| %>
            <li>
              <%= r.radio_button(name: "question[#{question.id}]answer") %>
              <%= r.label %>
            </li>
          <% end %>
        </ol>
      </li>
    <% end %>
  </ol>

  <%= submit_tag %>

<% end %>
