<% nav_add 'Cuestionarios de Opción Múltiple', multiple_choices_questionnaires_path %>
<% nav_add @questionnaire.name, '#' %>
<%= nav_render5 %>

<% if policy(MultipleChoices::Questionnaire).manage? %>
  <%= link_to 'Nueva pregunta', new_multiple_choices_questionnaire_question_path(@questionnaire), class: 'btn btn-primary' %>
  <br><br>
<% end %>

<br><br>

<section class="forks">

  <% if @questionnaire.questions.empty? %>

    <div class="alert alert-info">
      <p>Aún no hay ninguna pregunta</p>
    </div>

  <% else %>

    <table class="questions table table-striped">
      <thead>
      <tr>
        <th>Enunciado</th>
        <th>Opciones</th>
        <th class="no-sort">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @questionnaire.questions.each do |question| %>
        <tr class="fork">
          <td>
            <%= question.wording %>
          </td>
          <td>
            <%= question.answers.count %>
          </td>
          <td>
            <% if policy(MultipleChoices::Questionnaire).manage? %>
              <%= link_to "Editar", edit_multiple_choices_questionnaire_question_path(@questionnaire, question), class: 'btn btn-default btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

  <style>
    form.button_to {
      display: inline-block;
      margin: 0 0.1em;
    }
  </style>

<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.questions').DataTable({
              order: [[0, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
