<% nav_add 'Ejercicios', '#' %>
<%= nav_render %>

<% if policy(Exercise).create? %>
  <div class="row">
    <%= link_to 'Nuevo ejercicio', new_exercise_path, class: 'btn btn-primary pull-right' %>
  </div>
<% end %>

<% if @exercises.empty? %>

  <div class="alert alert-info">
    <p>Aún no hay ningún ejercicio para comenzar a resolver</p>
  </div>

<% else %>

  <table class="exercises table table-hover">
    <thead>
    <tr>
      <th>Nombre</th>
      <th class="no-sort">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td>
          <%= link_to exercise.name, exercise_path(exercise.id) %>
        </td>
        <td>
          <% if exercise.active_solution_for?(current_user) %>
            <%= link_to 'Continuar resolviendo', solution_path(exercise.active_solution_for?(current_user)), class: 'btn btn-default' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.exercises').DataTable({
              order: [[0, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
