<% nav_add 'Ejercicios', exercises_path %>
<% nav_add @exercise.name, '#' %>
<%= nav_render %>

<div class="row">
  <div class="col-md-6">

    <dl class="dl-horizontal">
      <dt>Consigna</dt>
      <dd>
        <%= link_to @exercise.url, target: "_blank" do %>
          <%= truncate(@exercise.url, length: 40) %> <i class="fa fa-external-link"></i>
        <% end %>
      </dd>
      <dt>Aclaraciones</dt>
      <dd><%= @exercise.notes %></dd>
    </dl>

  </div>
</div>

<div class="row">

  <% if @solution %>

    <div class="col-md-6">
      <div class="alert alert-warning">
        <p>Ya tenés una resolución en curso. Podés continuar con ella.</p>
      </div>
      <%= link_to "Continuar", solution_path(@solution.id), class: 'btn btn-primary' %>
    </div>

  <% else %>

    <div class="col-md-6">
      <div class="alert alert-info">
        <p>Cuando comiences a resolver un ejercicio, no podrás iniciar otro hasta marcarlo como finalizado.</p>
      </div>
      <%= link_to "Comenzar a resolver", exercise_start_path(@exercise.id), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <legend>Soluciones anteriores (<%= @solutions.empty? ? 0 : @solutions.count %>)</legend>

    <% if @solutions.empty? %>
      <div class="alert alert-info">
        <p>Aún no tenés soluciones para este ejercicio.</p>
      </div>
    <% else %>
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <td>Fecha y estudiantes</td>
          <% Timer.stages.each do |stage| %>
            <td><%= t("timers.stages.#{stage[0]}") %></td>
          <% end %>
          <td>Tiempo total</td>
          <td>¿Terminó?</td>
          <td>Notas</td>
          <% if current_user.teacher? %>
            <td>&nbsp;</td>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @solutions.each do |solution| %>
          <tr>
            <td>
              <%= link_to solution_summary_path(solution) do %>
                <%= l solution.created_at.in_time_zone('Buenos Aires') %>
                <ul>
                  <% solution.users.each do |partner| %>
                    <li><%= partner.full_name %> (<%= partner.nickname %>)</li>
                  <% end %>
                </ul>
              <% end %>
            </td>
            <% Timer.stages.each do |stage| %>
              <% timers = solution.timers.find_all { |t| t.stage == stage[0] } %>
              <td>
                <%
                  valid_timers = timers.select { |t| t.total_time_in_seconds.present? }
                  if valid_timers && valid_timers.sum(&:total_time_in_seconds) %>
                  <%= Time.at(valid_timers.sum(&:total_time_in_seconds)).utc.strftime("%H:%M:%S") %>
                  (<%= Time.at(valid_timers.sum(&:estimated_time_in_seconds)).utc.strftime("%H:%M:%S") %>)
                <% else %>
                  <%= Time.at(0).utc.strftime("%H:%M:%S") %> (<%= Time.at(0).utc.strftime("%H:%M:%S") %>)
                <% end %>
              </td>
            <% end %>
            <td>
              <%= Time.at(solution.timers.sum { |t| t.total_time_in_seconds.to_i }).utc.strftime("%H:%M:%S") %>
              (<%= Time.at(solution.timers.sum { |t| t.estimated_time_in_seconds.to_i }).utc.strftime("%H:%M:%S") %>)
            </td>
            <td><%= solution.finished_at != nil ? 'Si' : 'No' %></td>
            <td>
              <% unless solution.notes.blank? %>
                <pre><%= solution.notes %></pre>
              <% end %>
            </td>
            <% if current_user.teacher? %>
              <td>
                <%= button_to solution_cancel_path(solution),
                              method: :delete, title: 'Esto borrará las métricas', class: 'btn btn-default' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
