- nav_add 'Sugerencias', suggestions_path
- nav_add @suggestion.title, '#'
= nav_render

.row
  .col-md-2{style: 'text-align: center'}
    %h4
      = @suggestion.weighted_score
    %nobr
      = link_to upvote_suggestion_path(@suggestion), method: :post, class: 'btn btn-outline-secondary btn-sm' + (current_user.voted_as_when_voted_for(@suggestion) ? ' disabled' : ''), title: 'A favor' do
        %i.far.fa-thumbs-up
      = link_to downvote_suggestion_path(@suggestion), method: :post, class: 'btn btn-outline-secondary btn-sm' + (current_user.voted_as_when_voted_for(@suggestion) == false ? ' disabled' : ''), title: 'En contra' do
        %i.far.fa-thumbs-down
      = link_to unvote_suggestion_path(@suggestion), method: :post, class: 'btn btn-outline-secondary btn-sm' + (current_user.voted_as_when_voted_for(@suggestion).nil? ? ' disabled' : ''), title: 'Retirar voto' do
        %i.fas.fa-times
  .col-md-10
    %span.badge.bg-primary
      = t "suggestions.suggestion_type.#{@suggestion.suggestion_type}"
    %blockquote.blockquote
      != @suggestion.body
      %br
      %footer.blockquote-footer
        Sugerido por
        = @suggestion.author.short_name
        &mdash;
        = @suggestion.course.name
        &mdash;
        = @suggestion.created_at.in_time_zone('Buenos Aires').strftime("%d/%m/%Y %H:%M")
    - if @suggestion.get_upvotes.size > 0
      %p
        Apoyado por
        = @suggestion.get_upvotes.map(&:voter).map(&:short_name).to_sentence
    - if @suggestion.get_downvotes.size > 0
      %p
        Opuesto por
        = @suggestion.get_downvotes.map(&:voter).map(&:short_name).to_sentence
