<% nav_add 'Administración', '#' %>
<% nav_add 'Cursos', admin_courses_path %>
<% nav_add @course.name, admin_course_path(@course) unless @course.new_record? %>
<% nav_add @labels.title, '#' %>
<%= nav_render %>

<%= simple_form_for [:admin, @course] do |f| %>

  <%= render :partial => 'shared/errors', locals: { f: f } %>

  <%= f.input :name, label: 'Nombre' %>

  <%= f.input :password, label: 'Contraseña', as: :string  %>
  <% unless @course.new_record? %>
    <%= link_to "Rotar password", rotate_password_admin_course_path(@course), class: 'btn btn-large btn-outline-primary', method: :post %>
  <% end %>

  <br><br>

  <% Course.all_features.each do |feature, value| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="course[features][]"
               value="<%= value %>" <%= 'checked="checked"' if @course.on?(feature.to_sym) %> />
        <%= t "course.features.#{feature}" %>
      </label>
    </div>
  <% end %>

  <%= f.input :registrable, label: 'Habilitar matriculación' %>

  <%= f.input :attendance_event_id, label: 'Evento de asistencia', collection: @course.all_events, label_method: :name , value_method: :id, include_blank: true %>

  <%= f.button :submit, @labels.button, class: "btn-primary" %>

<% end %>
