<% nav_add 'Administración', '#' %>
<% nav_add 'Cursos', '#' %>
<%= nav_render5 %>

<% if policy(Course).admin? %>
  <%= link_to 'Nuevo curso', new_admin_course_path, class: 'btn btn-primary' %>
  <br><br>
<% end %>

<section>

  <legend>Cursos habilitados</legend>

  <%= render partial: 'courses_table', locals: { courses: @enabled_courses } %>

</section>

<br>
<br>

<section>

  <legend>Cursos deshabilitados</legend>

  <%= render partial: 'courses_table', locals: { courses: @disabled_courses } %>

</section>

<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

  <style>
    form.button_to {
      display: inline-block;
      margin: 0 0.1em;
    }
  </style>

<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="application/javascript"></script>

  <script type="application/javascript">
      $(function () {
          $('.courses').DataTable({
              order: [[0, "asc"]],
              paging: false,
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
              },
              columnDefs: [{
                  targets: 'no-sort',
                  orderable: false
              }]
          });
      });
  </script>
<% end %>
