- if menu.class == MenuNode
  %li.dropdown
    %a.dropdown-toggle.tour-exit{"aria-expanded": false, "aria-haspopup": true, "data-toggle": "dropdown", href: "#", role: "button"}
      = menu.title
      %span.caret
    %ul.dropdown-menu
      - menu.leafs.each do |leaf|
        = render partial:'/layouts/menu2', locals: { menu: leaf }
- elsif menu.class == MenuSeparator
  %li.divider{role: "separator"}
- elsif menu.class == MenuNotification
  %li
    = link_to menu.link do
      %i.fa.fa-envelope
      - if menu.show_badge?
        %span.badge.red-badge
          = menu.counter
- else
  %li
    = link_to menu.title, menu.link, { style: menu.style }
