- if menu.class == Array
  - menu.each do |option|
    = render partial:'layouts/menub', locals: { menu: option, last: option == menu.last }
- elsif menu.class == MenuNode
  %li.nav-item.dropdown
    %a.nav-link.dropdown-toggle.tour-exit{"aria-expanded": false, "aria-haspopup": true, "data-bs-toggle": "dropdown", href: "#", role: "button"}
      = menu.title
      - if last
        = image_tag entity_avatar(current_user), { alt: current_user.full_name }
      %span.caret
    %ul.dropdown-menu.dropdown-menu-end
      - menu.leafs.each do |leaf|
        - if leaf.class == MenuSeparator
          .dropdown-divider
        - else
          %li
            = link_to leaf.title, leaf.link, { style: leaf.style, class: 'dropdown-item' }
  %li.divider{role: "separator"}
- elsif menu.class == MenuNotification
  %li.nav-item
    = link_to menu.link, class: 'nav-link' do
      .envelope
      - if menu.show_badge?
        %span.badge.rounded-pill.bg-danger
          = menu.counter
- else
  %li.nav-item
    = link_to menu.title, menu.link, { style: menu.style, class: 'nav-link' }
