<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <% if current_user and Course.current %>
      <% if policy(User).manage? && policy(Team).manage? && policy(Lecture).manage? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle tour-exit" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Aula
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Estudiantes", students_path %>
            </li>
            <li>
              <%= link_to "Equipos", teams_path %>
            </li>
            <li>
              <%= link_to "Clases", lectures_path %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to "Resumen de Asistencia", summary_lectures_path %>
            </li>
          </ul>
        </li>
      <% end %>

      <% if policy(Event).manage? && policy(Badge).manage? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle tour-exit" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Gamificación
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Eventos", events_list_path %>
            </li>
            <li>
              <%= link_to "Emblemas", badges_list_path %>
            </li>
          </ul>
        </li>
      <% end %>

      <% if policy(AutomaticCorrection::Repo).index? %>
        <li>
          <%= link_to "Desafíos de Corrección Automática", repos_path %>
        </li>
      <% end %>
      <% if policy(PeerReview::Challenge).index? %>
        <li>
          <%= link_to "Desafíos de Revisión", peer_review_challenges_path %>
        </li>
      <% end %>
      <% if policy(Exercise).index? %>
        <li>
          <%= link_to "Ejercicios", exercises_path %>
        </li>
      <% end %>
    <% end %>
    <% if Course.current %>
      <li>
        <%= link_to notifications_path do %>
          <i class="fa fa-envelope"></i>
          <span class="badge">
                <%= current_user.current_membership.unread_notifications %>
              </span>
        <% end %>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle tour-exit" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= Course.current.name %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">

          <% current_user.courses.each do |course| %>
            <li><%= link_to course.name, switch_course_path(course) %></li>
          <% end %>

          <li role="separator" class="divider"></li>
          <li><%= link_to 'Otros cursos...', courses_path %></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle tour-exit" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= current_user.nickname %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Perfil', profile_path %></li>
          <% unless current_user.locked? %>
            <li><%= link_to 'Editar perfil', edit_profile_path %></li>
          <% end %>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'Salir', logout_path %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
