<% if menu.class == MenuNode %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle tour-exit" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= menu.title %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% menu.leafs.each do |leaf| %>
        <%= render partial:'/layouts/menu2', locals: { menu: leaf } %>
      <% end %>
    </ul>
  </li>
<% elsif menu.class == MenuSeparator %>
  <li role="separator" class="divider"></li>
<% elsif menu.class == MenuNotification %>
  <li>
    <%= link_to menu.link do %>
      <i class="fa fa-envelope"></i>
      <% if menu.show_badge? %>
        <span class="badge red-badge">
          <%= menu.counter %>
        </span>
      <% end %>
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to menu.title, menu.link, { style: menu.style } %>
  </li>
<% end %>
