- if menu.class == Array
  %ul.nav.flex-column
    - menu.each do |option|
      = render partial:'layouts/side_menu', locals: { menu: option }
- elsif menu.class == MenuNode
  - unless menu.title.blank?
    %h6= menu.title
  = render partial:'layouts/side_menu', locals: { menu: menu.leafs }
- elsif menu.class == MenuSeparator
- elsif menu.class == MenuNotification
- else
  %li.nav-item{ class: ('active' if menu.current_for?(request.env['PATH_INFO'])) }
    = link_to menu.link, { style: menu.style, class: 'nav-link' } do
      / != menu.icon_tag
      %span.icon
      // List of classes to add (example %span.icon.dashboard:
      // dashboard
      // account
      // team
      // teachers
      // resources
      // faq
      = menu.title
