<!DOCTYPE html>
<html>
<head>
  <title>LoomDashboard</title>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :head %>
</head>

<body>


<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag "logo.svg", { width: 25, height: 25, alt: 'Loom', title: 'Loom', class: 'loom-logo'} %>
        <strong>
          loom
        </strong>
      <% end %>
    </div>
    <%= render '/layouts/menu' %>
  </div>
</nav>

<div class="container">

  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <strong>¡Oops!</strong>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:info] %>
    <div class="alert alert-info" role="alert">
      <strong>¡Atención!</strong>
      <%= flash[:info] %>
    </div>
  <% end %>

  <%= yield %>

</div> <!-- /container -->

<%= javascript_include_tag 'application' %>
<script src="https://kit.fontawesome.com/5acba6449b.js" crossorigin="anonymous"></script>
<%= yield :javascript %>

<%= link_to suggestions_path, class: 'btn btn-primary btn-suggestions' do %>
  <i class="fas fa-lightbulb"></i> Sugerencias
<% end %>

</body>
</html>
