<!DOCTYPE html>
<html>
<head>
  <title>LoomDashboard</title>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>


<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">loom</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user and Course.current %>
          <% if policy(User).manage? %>
            <li>
              <%= link_to "Estudiantes", students_path %>
            </li>
          <% end %>
          <% if policy(Team).manage? %>
            <li>
              <%= link_to "Equipos", teams_path %>
            </li>
          <% end %>
          <% if policy(Event).manage? %>
            <li>
              <%= link_to "Eventos", events_list_path %>
            </li>
          <% end %>
          <% if policy(Badge).manage? %>
            <li>
              <%= link_to "Emblemas", badges_list_path %>
            </li>
          <% end %>
          <% if policy(Lecture).manage? %>
            <li>
              <%= link_to "Clases", lectures_path %>
            </li>
            <li>
              <%= link_to "Asistencia", summary_lectures_path %>
            </li>
          <% end %>
          <% if policy(AutomaticCorrection::Repo).index? %>
            <li>
              <%= link_to "Desafíos", repos_path %>
            </li>
            <% end %>
          <% if policy(Exercise).index? %>
            <li>
              <%= link_to "Ejercicios", exercises_path %>
            </li>
          <% end %>
        <% end %>
        <% if Course.current %>

          <li>
            <%= link_to notifications_path do %>
              <i class="fa fa-envelope"></i>
              <span class="badge">
                <%= current_user.current_membership.unread_notifications %>
              </span>
            <% end %>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle tour-exit" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= Course.current.name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

              <% current_user.courses.each do |course| %>
                <li><%= link_to course.name, switch_course_path(course) %></li>
              <% end %>

              <li role="separator" class="divider"></li>
              <li><%= link_to 'Otros cursos...', courses_path %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle tour-exit" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.nickname %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Perfil', profile_path %></li>
              <% unless current_user.locked? %>
                <li><%= link_to 'Editar perfil', edit_profile_path %></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Salir', logout_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <strong>¡Oops!</strong>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:info] %>
    <div class="alert alert-info" role="alert">
      <strong>¡Atención!</strong>
      <%= flash[:info] %>
    </div>
  <% end %>

  <%= yield %>

</div> <!-- /container -->

<%= javascript_include_tag 'application' %>
<script src="https://use.fontawesome.com/0d95d7e55f.js" async="async"></script>
<%= yield :javascript %>

</body>
</html>
