<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%== page_title %></title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/grid/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application2', media: 'all' %>
  <%= yield :head %>

  <style>

    nav {
      margin-bottom: 1em;
    }

    pre.highlight {
      padding: 1em;
    }

    .tab-pane {
      padding: 1em;
    }

      .navbar .badge {
        transition: none;
      }
  </style>

</head>
<body>

<%= render partial: 'layouts/navbar', locals: {submenu: @sidebar, menu: @menub4} %>

<div class="container-fluid">
  <div class="row">

    <%= render partial: 'layouts/sidebar', locals: {menu: @sidebar} %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

      <% if flash[:alert] %>
        <%= render partial: 'shared/alert', locals: {alert_type: 'danger', title: '¡Oops!', dismissable: true, message: flash[:alert]} %>
      <% end %>

      <% if flash[:info] %>
        <%= render partial: 'shared/alert', locals: {title: '¡Atención!', dismissable: true, message: flash[:info]} %>
      <% end %>

      <%= yield %>

    </main>
  </div>
</div>

<%= javascript_include_tag 'application2' %>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5acba6449b.js" crossorigin="anonymous"></script>
<%= yield :javascript %>

</body>
</html>
